In [1]:
import pandas as pd
import numpy as np

In [2]:
df_final=pd.read_csv("df_final.csv")

C:\Users\Anne\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (45,141,142,143,171,196,232) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df_final.head()

,geombui,bnb_id,bnb_l_geombui_id,bnb_matching_type,bnb_optim_status,bnb_sfce_geombat_m2,bnb_altitude_sol,insee_code_commune,insee_code_dept,insee_code_dept_num,...,voie,codepostal,commune,idadrinvar,coddep_x,iddispopar,coddep_y,etaban_lot,qty_of_mut,y
0,NaN,75101000AT0138_d4d36e20f8ebb9d,NaN,sp-n.0,NaN,NaN,NaN,75101,75,75,...,JEAN JACQUES ROUSSEAU,75001.0,PARIS 01,19$$4901$RUE$JEAN JACQUES ROUSSEAU$75001$PARIS 01,75,14292160,75,75101_4901_00019_93,1,0
1,"MULTIPOLYGON (((654897.4 6861228.7,654898.2 68...",75112000CS0007_0e97db87132e0fc,"(2:BATIMENT0000000240743478-4,BATIMENT00000002...",sp-1.m,NaN,187.0,33.0,75112,75,75,...,BULLOURDE,75011.0,PARIS 11,5$$1383$PAS$BULLOURDE$75011$PARIS 11,75,14286796,75,75111_1383_00005_8057,1,0
2,"MULTIPOLYGON (((654258.4 6864324.5,654255.1 68...",75119000EV0097_ebba0f692cb5609,(1:BATIMENT0000000240767364-1),sp-1.1,NaN,48.0,88.0,75119,75,75,...,LEMERCIER,75017.0,PARIS 17,103$$5503$RUE$LEMERCIER$75017$PARIS 17,75,14291262,75,75117_5503_00103_24,1,0
3,"MULTIPOLYGON (((647249.3 6864099.3,647246.0 68...",75116000EW0007_9f90308b1cd8e30,(1:BATIMENT0000000245170300-1),sp-1.1,NaN,126.0,43.0,75116,75,75,...,DALOU,75015.0,PARIS 15,8$$2521$RUE$DALOU$75015$PARIS 15,75,14292472,75,75115_2521_00008_19,1,0
4,"MULTIPOLYGON (((655925.8 6862773.2,655918.9 68...",75120000CL0085_034893c457506cc,(1:BATIMENT0000000240759419-2),sp-n.m,OPTIMAL,192.0,82.0,75120,75,75,...,DE CLICHY,75018.0,PARIS 18,110$$2113$BD$DE CLICHY$75018$PARIS 18,75,14281772,75,75118_2113_00110_19,2,1

In [4]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93911 entries, 0 to 93910
Columns: 251 entries, geombui to y
dtypes: float64(83), int64(60), object(108)
memory usage: 179.8+ MB

In [5]:
# Dataframe avec sélection variables CSTB + Cerema + variable cible "y" 
# + variables créées précédemment : "etaban_lot" + "qty_of_mut"

df_selec=df_final[["idmutation",
                   "etaban_lot",
                   "qty_of_mut",
                   "y",
                   "idnatmut",
                   "datemut",
                   "anneemut",
                   "moismut",
                   "libnatmut",
                   "vefa",
                   "valeurfonc",
                   "nblot",
                   "nbcomm",
                   "l_codinsee",
                   "nblocapt",
                   "nblocdep",
                   "nbapt2pp",
                   "nbapt3pp",
                   "sbati",
                   "sbatapt",
                   "sbatact",
                   "sapt2pp",
                   "sapt3pp",
                   "scarrez",
                   "nolot",
"adedpe202006_logtype_periode_construction",
"anarnc202012_nb_log",
"anarnc202012_nb_lot_garpark",
"anarnc202012_nb_lot_tertiaire",
"anarnc202012_nb_lot_tot",
"etaban202111_label",
"mcumer202007_id",
"adedpe202006_logtype_baie_orientation",
"adedpe202006_logtype_baie_type_vitrage",
"adedpe202006_logtype_ch_gen_lib_princ",
"adedpe202006_mean_class_conso_ener",
"adedpe202006_mean_class_estim_ges",
"adedpe202006_logtype_traversant",
"adedpe202006_logtype_ecs_type_ener",
"adedpe202006_logtype_enr",
"adedpe202006_logtype_perc_surf_vitree_ext",
"adedpe202006_logtype_ph_pos_isol",
"adedpe202006_logtype_presence_balcon",
"adedpe202006_logtype_presence_climatisation",
"adedpe202006_logtype_type_batiment",
"ancqpv201410_is_qpv",
"arcthd2021t1_l_bat_type",
"cerffo2020_annee_construction",
"cerffo2020_usage_niveau_1_txt",
"cerffo2020_nb_log",
"geoarg2020_alea",
"georad2020_alea",
"igntop202103_bat_hauteur",
"insbpe2019_l_type_equipement",
"mcumer202007_dist500min",
"mcumer202007_is_mer",
"adedpe202006_logtype_s_hab",
"adedpe202006_logtype_ch_type_inst",
"adedpe202006_logtype_ecs_type_inst",
"adedpe202006_logtype_mur_ep_mat_ext",
"adedpe202006_logtype_mur_mat_ext",
"adedpe202006_logtype_mur_pos_isol_ext"]]

In [6]:
df_selec.head()

,idmutation,etaban_lot,qty_of_mut,y,idnatmut,datemut,anneemut,moismut,libnatmut,vefa,...,igntop202103_bat_hauteur,insbpe2019_l_type_equipement,mcumer202007_dist500min,mcumer202007_is_mer,adedpe202006_logtype_s_hab,adedpe202006_logtype_ch_type_inst,adedpe202006_logtype_ecs_type_inst,adedpe202006_logtype_mur_ep_mat_ext,adedpe202006_logtype_mur_mat_ext,adedpe202006_logtype_mur_pos_isol_ext
0,7819809,75101_4901_00019_93,1,0,1,2021-06-04,2021,6,Vente,f,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7819819,75111_1383_00005_8057,1,0,1,2021-11-25,2021,11,Vente,f,...,17.4,NaN,274.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2,7819821,75117_5503_00103_24,1,0,1,2021-03-18,2021,3,Vente,f,...,14.1,NaN,397.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,7819822,75115_2521_00008_19,1,0,1,2021-11-12,2021,11,Vente,f,...,8.9,NaN,441.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
4,7819824,75118_2113_00110_19,2,1,1,2021-01-08,2021,1,Vente,f,...,19.2,(1:Plâtrier peintre),177.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_selec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93911 entries, 0 to 93910
Data columns (total 62 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   idmutation                                   93911 non-null  int64
 1   etaban_lot                                   93911 non-null  object
 2   qty_of_mut                                   93911 non-null  int64
 3   y                                            93911 non-null  int64
 4   idnatmut                                     93911 non-null  int64
 5   datemut                                      93911 non-null  object
 6   anneemut                                     93911 non-null  int64
 7   moismut                                      93911 non-null  int64
 8   libnatmut                                    93911 non-null  object
 9   vefa                                         93911 non-null  object
 10  valeurfonc                                   93877 non-null  float64
 11  nblot                                        93911 non-null  int64
 12  nbcomm                                       93911 non-null  int64
 13  l_codinsee                                   93911 non-null  int64
 14  nblocapt                                     93911 non-null  int64
 15  nblocdep                                     93911 non-null  int64
 16  nbapt2pp                                     93911 non-null  int64
 17  nbapt3pp                                     93911 non-null  int64
 18  sbati                                        93911 non-null  int64
 19  sbatapt                                      93911 non-null  int64
 20  sbatact                                      93911 non-null  int64
 21  sapt2pp                                      93911 non-null  int64
 22  sapt3pp                                      93911 non-null  int64
 23  scarrez                                      93911 non-null  float64
 24  nolot                                        93911 non-null  object
 25  adedpe202006_logtype_periode_construction    62478 non-null  object
 26  anarnc202012_nb_log                          56440 non-null  float64
 27  anarnc202012_nb_lot_garpark                  56440 non-null  float64
 28  anarnc202012_nb_lot_tertiaire                56440 non-null  float64
 29  anarnc202012_nb_lot_tot                      56440 non-null  float64
 30  etaban202111_label                           93865 non-null  object
 31  mcumer202007_id                              88130 non-null  object
 32  adedpe202006_logtype_baie_orientation        48350 non-null  object
 33  adedpe202006_logtype_baie_type_vitrage       61449 non-null  object
 34  adedpe202006_logtype_ch_gen_lib_princ        61494 non-null  object
 35  adedpe202006_mean_class_conso_ener           62527 non-null  object
 36  adedpe202006_mean_class_estim_ges            62527 non-null  object
 37  adedpe202006_logtype_traversant              48350 non-null  object
 38  adedpe202006_logtype_ecs_type_ener           60404 non-null  object
 39  adedpe202006_logtype_enr                     42 non-null     object
 40  adedpe202006_logtype_perc_surf_vitree_ext    8510 non-null   float64
 41  adedpe202006_logtype_ph_pos_isol             43814 non-null  object
 42  adedpe202006_logtype_presence_balcon         9596 non-null   float64
 43  adedpe202006_logtype_presence_climatisation  62478 non-null  float64
 44  adedpe202006_logtype_type_batiment           62478 non-null  object
 45  ancqpv201410_is_qpv                          92950 non-null  float64
 46  arcthd2021t1_l_bat_type                      69826 non-null  object
 47  cerffo2020_annee_construction                72110 non-null  float64
 48  cerffo2020_usage_niveau_1_txt                93911 non-null  object
 49  cerffo2020_nb_log                            93911 non-null  int64
 50  geoarg2020_alea                              0 non-null      float64
 51  georad2020_alea                              92950 non-null  object
 52  igntop202103_bat_hauteur                     92850 non-null  float64
 53  insbpe2019_l_type_equipement                 47004 non-null  object
 54  mcumer202007_dist500min                      88130 non-null  float64
 55  mcumer202007_is_mer                          92950 non-null  float64
 56  adedpe202006_logtype_s_hab                   61891 non-null  float64
 57  adedpe202006_logtype_ch_type_inst            50620 non-null  object
 58  adedpe202006_logtype_ecs_type_inst           51445 non-null  object
 59  adedpe202006_logtype_mur_ep_mat_ext          9307 non-null   object
 60  adedpe202006_logtype_mur_mat_ext             54292 non-null  object
 61  adedpe202006_logtype_mur_pos_isol_ext        58907 non-null  object
dtypes: float64(16), int64(19), object(27)
memory usage: 44.4+ MB

In [8]:
df_selec["adedpe202006_logtype_enr"].unique()

array([nan, 'solaire thermique (ecs)', 'solaire photovoltaique'],
      dtype=object)

In [9]:
# Variable "adedpe202006_logtype_enr" => Energies renouvelables présentes dans le bâtiment 
# Seulement 42 lignes pour lesquelles la variable est renseignée. 
# Le reste est Nan  mais on peut supposer que ce ne sont pas des vraies Nan 
# Ca peut plutôt signifier l'absence d'énergies renouvelables dans le bâtiment
# donc remplacement des nan par "absence"

df_selec["adedpe202006_logtype_enr"]=df_selec["adedpe202006_logtype_enr"].fillna("absence")

C:\Users\Anne\AppData\Local\Temp/ipykernel_13268/3737070585.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selec["adedpe202006_logtype_enr"]=df_selec["adedpe202006_logtype_enr"].fillna("absence")

In [10]:
df_selec["adedpe202006_logtype_enr"].unique()

array(['absence', 'solaire thermique (ecs)', 'solaire photovoltaique'],
      dtype=object)

In [11]:
df_selec["libnatmut"].unique()

array(['Vente', "Vente en l'état futur d'achèvement"], dtype=object)

In [12]:
df_selec["vefa"].unique()

array(['f', 't'], dtype=object)

In [13]:
#La variable "nolot" n'est plus utile. Elle a été fusionnée avec etaban dans etaban_lot dans df_final["nolot"]

df_selec=df_selec.drop("nolot", axis=1)

In [14]:
# Je supprime aussi la variable etaban_lot qui va poser problème au moment du get_dummies. 

df_selec=df_selec.drop("etaban_lot", axis=1)

In [15]:
df_selec["adedpe202006_logtype_periode_construction"].isna().sum()

31433

In [16]:
df_selec["adedpe202006_logtype_periode_construction"].unique()

array([nan, '<1948', '1989-1999', '2006-2012', '1970-1988', '1949-1970',
       '>2012', '2000-2005', 'bad inf'], dtype=object)

In [17]:
df_selec["cerffo2020_annee_construction"].isna().sum()

21801

In [18]:
#Comme année de construction possède bcp moins de na, on ne va garder que cette variable mais on va la discrétiser
df_selec["cerffo2020_annee_construction"]=pd.cut(x=df_selec["cerffo2020_annee_construction"], bins=[0,1948,1974,2000,2022], labels=["<1948", "1948-1974", "1974-2000", ">2000"])
df_selec["cerffo2020_annee_construction"].unique()

[NaN, '<1948', '>2000', '1948-1974', '1974-2000']
Categories (4, object): ['<1948' < '1948-1974' < '1974-2000' < '>2000']

In [19]:
#suppression de la variable " adedpe202006_logtype_periode_construction "

df_selec.drop("adedpe202006_logtype_periode_construction", axis=1, inplace=True)

In [20]:
df_selec["adedpe202006_logtype_baie_orientation"]

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
           ...
93906    (1:nord)
93907    (1:nord)
93908         NaN
93909    (1:nord)
93910         NaN
Name: adedpe202006_logtype_baie_orientation, Length: 93911, dtype: object

In [21]:
# Simplification des valeurs de la variable "adedpe202006_logtype_baie_orientation" => 
# sa multitude de valeurs créé des différence de nombre de colonnes entre X train et X test après get dummies

df_selec["adedpe202006_logtype_baie_orientation"]=df_selec["adedpe202006_logtype_baie_orientation"].astype(str)

In [22]:
df_selec["adedpe202006_logtype_baie_orientation"]=df_selec["adedpe202006_logtype_baie_orientation"].apply(lambda x : x.strip("()"))
df_selec["adedpe202006_logtype_baie_orientation"]

0           nan
1           nan
2           nan
3           nan
4           nan
          ...
93906    1:nord
93907    1:nord
93908       nan
93909    1:nord
93910       nan
Name: adedpe202006_logtype_baie_orientation, Length: 93911, dtype: object

In [23]:
df_selec["adedpe202006_logtype_baie_orientation"].unique()

array(['nan', '1:nord', '2:est,ouest', '1:est', '1:ouest', '2:nord,sud',
       '3:nord,ouest,sud', '1:horizontale', '2:ouest,sud',
       '3:est,ouest,sud', '1:sud', '4:est,nord,ouest,sud', '2:nord,ouest',
       '2:est,sud', '3:est,nord,ouest', '2:est,nord',
       '3:indetermine,nord,sud', '2:indetermine,ouest', '3:est,nord,sud',
       '2:est,est ou ouest', '1:est ou ouest',
       '5:est,indetermine,nord,ouest,sud', '3:est,horizontale,ouest',
       '2:est,indetermine', '2:est ou ouest,sud',
       '4:est,indetermine,ouest,sud', '4:horizontale,nord,ouest,sud',
       '2:est ou ouest,nord', '2:indetermine,sud', '2:horizontale,ouest',
       '3:horizontale,nord,sud', '2:est ou ouest,horizontale',
       '3:est,est ou ouest,ouest', '5:est,horizontale,nord,ouest,sud',
       '3:est,indetermine,sud', '3:est,est ou ouest,sud',
       '3:est ou ouest,nord,sud', '3:horizontale,ouest,sud'], dtype=object)

In [24]:
df_selec["adedpe202006_logtype_baie_orientation"]=df_selec["adedpe202006_logtype_baie_orientation"].apply(lambda x : x[2:])
df_selec["adedpe202006_logtype_baie_orientation"].unique()

array(['n', 'nord', 'est,ouest', 'est', 'ouest', 'nord,sud',
       'nord,ouest,sud', 'horizontale', 'ouest,sud', 'est,ouest,sud',
       'sud', 'est,nord,ouest,sud', 'nord,ouest', 'est,sud',
       'est,nord,ouest', 'est,nord', 'indetermine,nord,sud',
       'indetermine,ouest', 'est,nord,sud', 'est,est ou ouest',
       'est ou ouest', 'est,indetermine,nord,ouest,sud',
       'est,horizontale,ouest', 'est,indetermine', 'est ou ouest,sud',
       'est,indetermine,ouest,sud', 'horizontale,nord,ouest,sud',
       'est ou ouest,nord', 'indetermine,sud', 'horizontale,ouest',
       'horizontale,nord,sud', 'est ou ouest,horizontale',
       'est,est ou ouest,ouest', 'est,horizontale,nord,ouest,sud',
       'est,indetermine,sud', 'est,est ou ouest,sud',
       'est ou ouest,nord,sud', 'horizontale,ouest,sud'], dtype=object)

In [25]:
df_selec["adedpe202006_logtype_baie_orientation"]=df_selec["adedpe202006_logtype_baie_orientation"].str.split(",",expand=True).stack().reset_index(drop=True)
df_selec["adedpe202006_logtype_baie_orientation"].unique()

array(['n', 'nord', 'est', 'ouest', 'sud', 'horizontale', 'indetermine',
       'est ou ouest'], dtype=object)

In [26]:
df_selec["adedpe202006_logtype_baie_orientation"]=df_selec["adedpe202006_logtype_baie_orientation"].replace({"n": "nan"})
df_selec["adedpe202006_logtype_baie_orientation"]

0         nan
1         nan
2         nan
3         nan
4         nan
         ...
93906    nord
93907    nord
93908     sud
93909    nord
93910    nord
Name: adedpe202006_logtype_baie_orientation, Length: 93911, dtype: object

In [27]:
df_selec["adedpe202006_logtype_baie_orientation"].unique()

array(['nan', 'nord', 'est', 'ouest', 'sud', 'horizontale', 'indetermine',
       'est ou ouest'], dtype=object)

In [28]:
df_selec["adedpe202006_logtype_baie_orientation"].value_counts()

nan             39890
nord            31591
est              8254
sud              7701
ouest            6315
horizontale        83
est ou ouest       44
indetermine        33
Name: adedpe202006_logtype_baie_orientation, dtype: int64

In [29]:
# Suppression des valeurs difficiles à interpréter

to_drop=df_selec[(df_selec["adedpe202006_logtype_baie_orientation"]=="horizontale")|
                     (df_selec["adedpe202006_logtype_baie_orientation"]=="est ou ouest")|
                     (df_selec["adedpe202006_logtype_baie_orientation"]=="indetermine")].index
  
df_selec.drop(to_drop, inplace=True)

In [30]:
df_selec["adedpe202006_logtype_baie_orientation"].unique()

array(['nan', 'nord', 'est', 'ouest', 'sud'], dtype=object)

In [31]:
# Simplification des valeurs de la variable "adedpe202006_logtype_ch_gen_lib_princ" => 
# sa multitude de valeurs créé des différence de nombre de colonnes entre X train et X test après get dummies

df_selec["adedpe202006_logtype_ch_gen_lib_princ"].value_counts()

generateurs a effet joule                          30808
chaudiere gaz standard                             18857
chaudiere gaz basse temperature                     2491
reseau de chaleur                                   2202
chaudiere gaz condensation                          2135
chaudiere fioul standard                            1369
chaudiere electrique                                 769
pac air/air                                          712
chaudiere energie indetermine standard               613
pac indetermine                                      569
chaudiere energie indetermine indetermine            183
chaudiere fioul basse temperature                    153
radiateurs gaz                                       145
chauffage autre indetermine                           96
chaudiere energie indetermine basse temperature       91
pac air/eau                                           73
chaudiere energie indetermine condensation            42
chaudiere fioul condensation                          34
chaudiere bois                                        10
pac eau/eau                                            8
chauffage solaire                                      8
poele ou insert bois                                   8
chaudiere gpl/butane/propane standard                  4
poele ou insert fioul                                  4
chaudiere charbon standard                             3
pac geothermique                                       1
Name: adedpe202006_logtype_ch_gen_lib_princ, dtype: int64

In [32]:
# Regroupement des occurences <=10

liste_equipement =["chaudiere bois", 
                   "pac eau/eau", 
                   "chauffage solaire",
                   "poele ou insert bois", 
                   "chaudiere gpl/butane/propane standard",
                   "poele ou insert fioul",
                   "chaudiere charbon standard",
                   "pac geothermique"]

def filtre_autre_equipement (x) :
    if x in  liste_equipement :
        return "autres"
    else :
        return x
        
df_selec["adedpe202006_logtype_ch_gen_lib_princ"]=df_selec["adedpe202006_logtype_ch_gen_lib_princ"].apply(filtre_autre_equipement)
df_selec["adedpe202006_logtype_ch_gen_lib_princ"].value_counts()

generateurs a effet joule                          30808
chaudiere gaz standard                             18857
chaudiere gaz basse temperature                     2491
reseau de chaleur                                   2202
chaudiere gaz condensation                          2135
chaudiere fioul standard                            1369
chaudiere electrique                                 769
pac air/air                                          712
chaudiere energie indetermine standard               613
pac indetermine                                      569
chaudiere energie indetermine indetermine            183
chaudiere fioul basse temperature                    153
radiateurs gaz                                       145
chauffage autre indetermine                           96
chaudiere energie indetermine basse temperature       91
pac air/eau                                           73
autres                                                46
chaudiere energie indetermine condensation            42
chaudiere fioul condensation                          34
Name: adedpe202006_logtype_ch_gen_lib_princ, dtype: int64

In [33]:
# Simplification des valeurs de la variable "adedpe202006_logtype_ecs_type_ener" => 
# sa multitude de valeurs créé des différences de nombre de colonnes entre X train et X test après get dummies.
df_selec["adedpe202006_logtype_ecs_type_ener"].value_counts()

electricite                                                    36275
gaz                                                            20833
reseau de chaleur                                               1699
fioul                                                           1053
ecs thermodynamique electrique(pac ou ballon)                    218
ecs thermodynamique electrique(pac ou ballon) + gaz               75
bois                                                              59
bois + reseau de chaleur                                          32
bois + gaz                                                        16
electricite + gaz                                                 13
ecs thermodynamique electrique(pac ou ballon) + fioul              7
autre + electricite                                                4
gaz + reseau de chaleur                                            4
gpl/butane/propane                                                 4
charbon + gaz                                                      3
fioul + reseau de chaleur                                          3
ecs thermodynamique electrique(pac ou ballon) + electricite        1
Name: adedpe202006_logtype_ecs_type_ener, dtype: int64

In [34]:
# Regroupement des occurences <=10

liste_equipement =["ecs thermodynamique electrique(pac ou ballon)",
                    "ecs thermodynamique electrique(pac ou ballon) + gaz",
                    "bois",
                    "bois + reseau de chaleur",
                    "bois + gaz",
                    "electricite + gaz",
                    "ecs thermodynamique electrique(pac ou ballon) + fioul",
                    "autre + electricite",
                    "gaz + reseau de chaleur",
                    "gpl/butane/propane",
                    "charbon + gaz",
                    "fioul + reseau de chaleur",
                    "ecs thermodynamique electrique(pac ou ballon) + electricite"]

def filtre_autre_equipement (x) :
    if x in  liste_equipement :
        return "autres"
    else :
        return x
        
df_selec["adedpe202006_logtype_ecs_type_ener"]=df_selec["adedpe202006_logtype_ecs_type_ener"].apply(filtre_autre_equipement)
df_selec["adedpe202006_logtype_ecs_type_ener"].value_counts()

electricite          36275
gaz                  20833
reseau de chaleur     1699
fioul                 1053
autres                 439
Name: adedpe202006_logtype_ecs_type_ener, dtype: int64

In [35]:
# Simplification des valeurs de la variable "arcthd2021t1_l_bat_type" => 
# sa multitude de valeurs créé des différence de nombre de colonnes entre X train et X test après get dummies

df_selec["arcthd2021t1_l_bat_type"]

0               NaN
1        {immeuble}
2        {pavillon}
3        {immeuble}
4        {immeuble}
            ...
93906           NaN
93907    {immeuble}
93908    {immeuble}
93909    {immeuble}
93910    {immeuble}
Name: arcthd2021t1_l_bat_type, Length: 93751, dtype: object

In [36]:
df_selec["arcthd2021t1_l_bat_type"]=df_selec["arcthd2021t1_l_bat_type"].astype(str)
df_selec["arcthd2021t1_l_bat_type"]=df_selec["arcthd2021t1_l_bat_type"].apply(lambda x : x.strip("{}"))
df_selec["arcthd2021t1_l_bat_type"]=df_selec["arcthd2021t1_l_bat_type"].str.split(",",expand=True).stack().reset_index(drop=True)
df_selec["arcthd2021t1_l_bat_type"]

0             nan
1        immeuble
2        pavillon
3        immeuble
4        immeuble
           ...
93906    immeuble
93907    immeuble
93908    immeuble
93909    immeuble
93910    immeuble
Name: arcthd2021t1_l_bat_type, Length: 93751, dtype: object

In [37]:
df_selec["arcthd2021t1_l_bat_type"].value_counts()

immeuble    63129
nan         22431
pavillon     8191
Name: arcthd2021t1_l_bat_type, dtype: int64

In [38]:
df_selec["geoarg2020_alea"].isna().sum()

93751

In [39]:
#La variable "geoarg2020_alea" est composée à 100% de Nan
# Aucun bâtiment en risque argile à Paris : https://assistance.brgm.fr/georisques/pourquoi-ny-til-pas-cartographie-lexposition-au-risque-retrait-gonflement-argiles-ville
#Je supprime
df_selec=df_selec.drop("geoarg2020_alea", axis=1)

In [40]:
df_selec["adedpe202006_logtype_ch_type_inst"].value_counts()

individuel    39353
collectif     11177
Name: adedpe202006_logtype_ch_type_inst, dtype: int64

In [41]:
df_selec["adedpe202006_logtype_ch_type_inst"].isna().sum()

43221

In [42]:
#Analyse de la variable "adedpe202006_logtype_mur_pos_isol_ext" =>(dpe) Type d'isolation des murs
df_selec["adedpe202006_logtype_mur_pos_isol_ext"].value_counts()

ITI          49829
non isole     7964
isole          531
ITE            282
ITI+ITE         96
ITR             78
ITI+ITR         19
ITE+ITR          4
Name: adedpe202006_logtype_mur_pos_isol_ext, dtype: int64

In [43]:
df_selec["adedpe202006_logtype_mur_pos_isol_ext"].isna().sum()

34948

In [44]:
# remlacement des nan par Unknwon
df_selec["adedpe202006_logtype_mur_pos_isol_ext"]=df_selec["adedpe202006_logtype_mur_pos_isol_ext"].fillna("Unknown")

In [45]:
def filtre(x):
    if x=="ITI" :
        return "ITI"
    elif x=="ITE" :
        return "ITE"
    elif x=="ITR" :
        return "ITR"
    elif "Unknown" in x :
        return "Unknown"
    else :
        return "Autres"

In [46]:
df_selec["adedpe202006_logtype_mur_pos_isol_ext"]=df_selec["adedpe202006_logtype_mur_pos_isol_ext"].apply(filtre)

In [47]:
df_selec["adedpe202006_logtype_mur_pos_isol_ext"].value_counts()

ITI        49829
Unknown    34948
Autres      8614
ITE          282
ITR           78
Name: adedpe202006_logtype_mur_pos_isol_ext, dtype: int64

In [48]:
#Analyse de la variable "adedpe202006_logtype_mur_mat_ext" =>(dpe) Matériaux de la structure des murs extérieurs

df_selec["adedpe202006_logtype_mur_mat_ext"].value_counts()

murs en pierre de taille et moellons avec remplissage tout venant     24151
murs en briques pleines simples                                        8117
murs en béton banché                                                   7770
murs en pierre de taille et moellons constitué d'un seul matériaux     4005
murs en blocs de béton pleins                                          2852
murs en pierre                                                         1938
murs en blocs de béton creux                                           1120
murs en pan de bois avec remplissage tout venant                        929
murs en pan de bois sans remplissage tout venant                        883
murs en béton de mâchefer                                               817
murs en béton                                                           504
murs en briques creuses                                                 370
murs en briques                                                         277
cloison de plâtre                                                       252
murs en briques pleines doubles avec lame d'air                         118
béton cellulaire                                                         66
murs en pisé ou béton de terre stabilisé (à partir d'argile crue)        27
monomur terre cuite                                                       3
Name: adedpe202006_logtype_mur_mat_ext, dtype: int64

In [49]:
df_selec["adedpe202006_logtype_mur_mat_ext"].isna().sum()

39552

In [50]:
# On  remplace les Nan par Unknown
df_selec["adedpe202006_logtype_mur_mat_ext"]=df_selec["adedpe202006_logtype_mur_mat_ext"].fillna("Unknown")

In [51]:
def filtre(x) :
    if "pierre" in x :
        return "Mur en pierre"
    elif "briques" in x :
        return "Mur en brique"
    elif "béton" in x :
        return "Mur en béton"
    elif "bois" in x :
        return "Mur en pan de bois"
    elif "plâtre" in x :
        return "Mur en cloison de plâtre"
    else :
        return "Indeterminé"

In [52]:
df_selec["adedpe202006_logtype_mur_mat_ext"]=df_selec["adedpe202006_logtype_mur_mat_ext"].apply(filtre)

In [53]:
df_selec["adedpe202006_logtype_mur_mat_ext"].value_counts()

Indeterminé                 39555
Mur en pierre               30094
Mur en béton                13156
Mur en brique                8882
Mur en pan de bois           1812
Mur en cloison de plâtre      252
Name: adedpe202006_logtype_mur_mat_ext, dtype: int64

In [54]:
float_col=df_selec.loc[:, df_selec.dtypes == np.float64].columns.tolist()
int_col=df_selec.loc[:, df_selec.dtypes == np.int64].columns.tolist()
numeric_columns=float_col+int_col
object_columns=df_selec.loc[:, df_selec.dtypes == "object"].columns.tolist()

In [55]:
numeric_columns

['valeurfonc',
 'scarrez',
 'anarnc202012_nb_log',
 'anarnc202012_nb_lot_garpark',
 'anarnc202012_nb_lot_tertiaire',
 'anarnc202012_nb_lot_tot',
 'adedpe202006_logtype_perc_surf_vitree_ext',
 'adedpe202006_logtype_presence_balcon',
 'adedpe202006_logtype_presence_climatisation',
 'ancqpv201410_is_qpv',
 'igntop202103_bat_hauteur',
 'mcumer202007_dist500min',
 'mcumer202007_is_mer',
 'adedpe202006_logtype_s_hab',
 'idmutation',
 'qty_of_mut',
 'y',
 'idnatmut',
 'anneemut',
 'moismut',
 'nblot',
 'nbcomm',
 'l_codinsee',
 'nblocapt',
 'nblocdep',
 'nbapt2pp',
 'nbapt3pp',
 'sbati',
 'sbatapt',
 'sbatact',
 'sapt2pp',
 'sapt3pp',
 'cerffo2020_nb_log']

In [56]:
object_columns

['datemut',
 'libnatmut',
 'vefa',
 'etaban202111_label',
 'mcumer202007_id',
 'adedpe202006_logtype_baie_orientation',
 'adedpe202006_logtype_baie_type_vitrage',
 'adedpe202006_logtype_ch_gen_lib_princ',
 'adedpe202006_mean_class_conso_ener',
 'adedpe202006_mean_class_estim_ges',
 'adedpe202006_logtype_traversant',
 'adedpe202006_logtype_ecs_type_ener',
 'adedpe202006_logtype_enr',
 'adedpe202006_logtype_ph_pos_isol',
 'adedpe202006_logtype_type_batiment',
 'arcthd2021t1_l_bat_type',
 'cerffo2020_usage_niveau_1_txt',
 'georad2020_alea',
 'insbpe2019_l_type_equipement',
 'adedpe202006_logtype_ch_type_inst',
 'adedpe202006_logtype_ecs_type_inst',
 'adedpe202006_logtype_mur_ep_mat_ext',
 'adedpe202006_logtype_mur_mat_ext',
 'adedpe202006_logtype_mur_pos_isol_ext']

In [57]:
for col in df_selec[object_columns]:
    print(df_selec[col].nunique())

2314
2
2
26298
1767
5
4
19
8
8
9
5
3
5
5
3
5
1
4123
2
2
31
6
5

In [58]:
type(numeric_columns)

list

In [59]:
#A quoi correspondent les colonnes qui ont 26298, 1767 et 4123 valeurs uniques  ?
print(object_columns[2],object_columns[3], object_columns[-6])

vefa etaban202111_label insbpe2019_l_type_equipement

In [60]:
df_selec["etaban202111_label"]

0           33 Rue de l’Arbre Sec 75001 Paris
1                7 Rue de Reuilly 75012 Paris
2                19 Rue Edgar Poë 75019 Paris
3                 19 Villa Dupont 75016 Paris
4                    50 Rue Ramus 75020 Paris
                         ...
93906         19 Avenue Mac-Mahon 75017 Paris
93907     14 Rue Bochart de Saron 75009 Paris
93908             66 Rue Taitbout 75009 Paris
93909    23 Rue de Constantinople 75008 Paris
93910       21 Rue de Tocqueville 75017 Paris
Name: etaban202111_label, Length: 93751, dtype: object

In [61]:
#On supprime la colonne etaban202111_label" => on travaillera uniquemet avec le code etaban_lot si besoin
object_columns.remove("etaban202111_label")
df_selec=df_selec.drop("etaban202111_label", axis=1)

In [62]:
df_selec["mcumer202007_id"]

0               NaN
1        PA00086535
2        PA00086770
3        PA00086708
4        PA00086781
            ...
93906    PA00086719
93907    PA00088985
93908    PA00088967
93909    PA00086725
93910    PA00088850
Name: mcumer202007_id, Length: 93751, dtype: object

In [63]:
df_selec["mcumer202007_id"].nunique()

1767

In [64]:
df_final["mcumer202007_id"].isna().sum()

5781

In [65]:
df_final["mcumer202007_id"].describe()

count          88130
unique          1769
top       PA75130002
freq            1073
Name: mcumer202007_id, dtype: object

In [66]:
# 88130 des mutations ont un identifiant mcumer202007_id. Le reste ce sont des nan. 
# Si cet identifiant veut dire que le bâtiment est dans un périmètre ABF monument historique, autant prendre la variable mcumer202007_is_mer. 
# Si cet identifiant veut dire que le bâtiment est classé monument historique => alors pas nécessaire de le garder pq ils le sont tous dans la mesure où ils ont tous un identifiant

In [67]:
# Décision prise de supprimer les variables "mcumer202007_id" et "mcumer202007_dist500min" pour ne garder que "mcumer202007_is_mer"

object_columns.remove("mcumer202007_id")
numeric_columns.remove("mcumer202007_dist500min")

df_selec=df_selec.drop(["mcumer202007_id","mcumer202007_dist500min"], axis=1)

In [68]:
df_selec["insbpe2019_l_type_equipement"].nunique()

4123

In [69]:
df_selec["insbpe2019_l_type_equipement"]=df_selec["insbpe2019_l_type_equipement"].astype(str)
df_selec["insbpe2019_l_type_equipement"]=df_selec["insbpe2019_l_type_equipement"].apply(lambda x : x.strip("()"))
df_selec["insbpe2019_l_type_equipement"]

0                                                      nan
1                                                      nan
2                                                      nan
3                                                      nan
4                                       1:Plâtrier peintre
                               ...
93906                                                  nan
93907    2:Agence immobilière,Restaurant - Restauration...
93908                                                  nan
93909                                                  nan
93910    2:Magasin de vêtements,Restaurant - Restaurati...
Name: insbpe2019_l_type_equipement, Length: 93751, dtype: object

In [70]:
df_selec["insbpe2019_l_type_equipement"]=df_selec["insbpe2019_l_type_equipement"].apply(lambda x : x[2:])
df_selec["insbpe2019_l_type_equipement"]

0                                                        n
1                                                        n
2                                                        n
3                                                        n
4                                         Plâtrier peintre
                               ...
93906                                                    n
93907    Agence immobilière,Restaurant - Restauration r...
93908                                                    n
93909                                                    n
93910    Magasin de vêtements,Restaurant - Restauration...
Name: insbpe2019_l_type_equipement, Length: 93751, dtype: object

In [71]:
df_selec["insbpe2019_l_type_equipement"]=df_selec["insbpe2019_l_type_equipement"].str.split(",",expand=True).stack().reset_index(drop=True)
df_selec["insbpe2019_l_type_equipement"]

0                                       n
1                                       n
2                                       n
3                                       n
4                        Plâtrier peintre
                       ...
93906                  Agence immobilière
93907        Librairie papeterie journaux
93908    Location auto-utilitaires légers
93909                           Pharmacie
93910                                   n
Name: insbpe2019_l_type_equipement, Length: 93751, dtype: object

In [72]:
df_selec["insbpe2019_l_type_equipement"]=df_selec["insbpe2019_l_type_equipement"].replace({"n": "nan"})
df_selec["insbpe2019_l_type_equipement"]

0                                     nan
1                                     nan
2                                     nan
3                                     nan
4                        Plâtrier peintre
                       ...
93906                  Agence immobilière
93907        Librairie papeterie journaux
93908    Location auto-utilitaires légers
93909                           Pharmacie
93910                                 nan
Name: insbpe2019_l_type_equipement, Length: 93751, dtype: object

In [73]:
df_selec["insbpe2019_l_type_equipement"].nunique()

189

In [74]:
df_selec["insbpe2019_l_type_equipement"].value_counts()

nan                                     28166
Restaurant - Restauration rapide         9307
Agence immobilière                       3645
Magasin de vêtements                     3426
Taxi - VTC                               2415
                                        ...
Bowling                                     1
Gare de voyageurs d’intérêt national        1
Centre médecine préventive                  1
:Pharmacie                                  1
:Centre de santé                            1
Name: insbpe2019_l_type_equipement, Length: 189, dtype: int64

In [75]:
df_selec["insbpe2019_l_type_equipement"].value_counts().head(50)

nan                                        28166
Restaurant - Restauration rapide            9307
Agence immobilière                          3645
Magasin de vêtements                        3426
Taxi - VTC                                  2415
Coiffure                                    2200
Entreprise générale du bâtiment             2023
Plâtrier peintre                            1980
Institut de beauté - Onglerie               1889
Psychologue                                 1497
 couvreur                                   1439
 chauffagiste                               1439
Plombier                                    1432
 serrurier                                  1332
Menuisier                                   1328
 charpentier                                1326
Épicerie                                    1303
Boulangerie                                 1100
Librairie papeterie journaux                1083
Électricien                                 1076
 Caisse d’Épargne                           1014
Banque                                      1005
Information touristique                      976
Masseur kinésithérapeute                     975
Agence de voyages                            932
Médecin généraliste                          923
Hôtel                                        891
Pressing - Laverie automatique               827
Parfumerie - Cosmétique                      776
Chirurgien dentiste                          751
Infirmier                                    719
Pharmacie                                    700
Magasin d’optique                            694
Spécialiste en psychiatrie                   626
Magasin de chaussures                        623
Magasin d'équipements du foyer               617
Horlogerie Bijouterie                        617
Fleuriste - Jardinerie - Animalerie          616
Boucherie charcuterie                        547
Magasin de meubles                           507
Réparation auto et de matériel agricole      493
Pédicure-podologue                           379
Crèche                                       372
Agence de travail temporaire                 320
 audio vidéo                                 319
Magasin d'électroménager                     319
Supermarché                                  315
Orthophoniste                                314
Location auto-utilitaires légers             297
Magasin d'art. de sports et de loisirs       266
Name: insbpe2019_l_type_equipement, dtype: int64

In [76]:
print(df_selec["insbpe2019_l_type_equipement"].unique())

['nan' 'Plâtrier peintre' 'Masseur kinésithérapeute' 'Pédicure-podologue'
 'Établissement santé moyen séjour' 'Coiffure' 'Supermarché'
 'Entreprise générale du bâtiment' 'Taxi - VTC' 'Psychologue' 'Banque'
 ' Caisse d’Épargne' 'Institut de beauté - Onglerie' 'Plombier'
 ' couvreur' ' chauffagiste' 'Produits surgelés' 'Agence de voyages'
 'Restaurant - Restauration rapide' 'Spécialiste en ophtalmologie'
 'Épicerie' 'Librairie papeterie journaux' 'Psychomotricien'
 'Parfumerie - Cosmétique' 'Pressing - Laverie automatique'
 'Magasin de vêtements' 'Agence immobilière' 'Information touristique'
 'Magasin de meubles' 'Médecin généraliste'
 'Fleuriste - Jardinerie - Animalerie' 'École de conduite'
 'Salles de combat' 'Salles spécialisées'
 "Magasin d'art. de sports et de loisirs" 'Agence de travail temporaire'
 'Ambulance' 'Salles de remise en forme' 'École élémentaire'
 'Pompes funèbres' 'Menuisier' ' charpentier' ' serrurier' 'Hôtel'
 'Boulangerie' 'Spécialiste en stomatologie'
 'Magasin de revêtements murs et sols' 'Police'
 'Structures psychiatriques en ambulatoire' 'Horlogerie Bijouterie'
 'Spécialiste en cardiologie' 'Spécialiste en dermatologie vénéréologie'
 'Spécialiste en gynécologie (médicale et/ou obstétrique'
 'Chirurgien dentiste' "Laboratoire d'analyses et de biologie médicales"
 'Autre formation continue' 'Bureau de poste' 'Électricien'
 'Boucherie charcuterie' 'Droguerie quincaillerie bricolage' 'Infirmier'
 'Pharmacie' 'Réparation auto et de matériel agricole'
 "Lycée d'enseignement général et/ou techno." "Magasin d'électroménager"
 ' audio vidéo' 'Orthophoniste' 'Spécialiste en psychiatrie'
 'Magasin de matériel médical et orthopédique' 'Poissonnerie' 'Sage-femme'
 'Supérette' 'École maternelle' 'Bassin de natation'
 'Magasin de chaussures' 'Spéc. en radiodiagnostic et imagerie médicale'
 'Autre formation post bac non universitaire' ':Boulangerie'
 'Magasin d’optique' 'Vétérinaire' 'Location auto-utilitaires légers'
 'Autres établissements pour adultes et familles en difficulté' 'Crèche'
 "Magasin d'équipements du foyer" 'Diététicien' 'Centre de santé'
 ':Agence immobilière' "Centre de formation d'apprentis (hors agriculture"
 ':Agence de voyages' 'Autre enseignement supérieur'
 'Spécialiste en gastro-entérologie' 'Spécialiste en pédiatrie' 'Musée'
 'Spécialiste en oto-rhino-laryngologie'
 'Direction Régionale des Finances Publiques (DRFIP'
 'Gare de voyageurs d’intérêt régional' ':Librairie papeterie journaux'
 'Urgences' 'Établissement santé court séjour' 'Formation commerce'
 ':Agence de travail temporaire' 'Théâtre - Art de rue - Pôle cirque'
 'Orthoptiste' 'Contrôle technique automobile' 'Collège'
 'Spécialiste en gynécologie (médicale et/ou obstétrique)'
 'Audio prothésiste' "Personnes âgées : services d'aide" ':Plombier'
 'Grande surface de bricolage' ':Chirurgien dentiste'
 "Aide sociale à l'enfance : hébergement" 'Salles multisports (gymnase'
 'Spécialiste en pneumologie' 'Cinéma'
 'Enseignement général supérieur privé'
 ':Restaurant - Restauration rapide' 'Bibliothèque'
 'Adultes handicapés : accueil/hébergement' 'Terrain de grands jeux'
 'Équipement de cyclisme' "CHRS Centre d'héberg. et de réadapt. sociale"
 'Salles multisports (gymnase)' 'Adultes handicapés : services d’aide'
 'Enfants handicapés : hébergement' 'UFR'
 'Établissement psychiatrique avec hébergement'
 'Personnes âgées : hébergement' 'Maison de justice et du droit'
 'Résidence universitaire' ':Coiffure' "École d'ingénieurs"
 'Ergothérapeute' 'Enfants handicapés.: soins à domicile' 'Relais poste'
 "Lycée d'enseignement professionnel" 'STS CPGE' 'Formation santé'
 'Salles non spécialisées' "Centre accueil demandeur d'asile" ':Infirmier'
 'SEP : Section enseignement professionnel' 'Restaurant universitaire'
 ':Adultes handicapés : services d’aide' 'Travail protégé' ':Taxi - VTC'
 ':École maternelle' 'Dialyse' 'Maternité' 'Transfusion sanguine'
 'Établissement santé long séjour'
 ':Adultes handicapés : accueil/hébergement'
 'Réseau de proximité Pôle Emploi' ':Centre de santé' ':Menuisier'
 "Centre de formation d'apprentis (hors agriculture)" 'Sports de glace'
 'Tennis' 'Gare de voyageurs d’intérêt national'
 'Centre médecine préventive' "Aide sociale à l'enfance : action éduc."
 ':Pharmacie' 'Réseau spécialisé Pôle Emploi' 'Hospitalisation à domicile'
 'Maison de santé pluridisciplinaire' 'Station service' ':Bibliothèque'
 'Direction Régionale des Finances Publiques (DRFIP)' ':Banque'
 'Athlétisme' 'Adultes handicapés : services de soins à domicile'
 'Personnes âgées : soins à domicile' 'Conservatoire' 'Hypermarché'
 ':Boucherie charcuterie' 'Boulodrome' ':Information touristique'
 'Bowling' ':Entreprise générale du bâtiment'
 'Direction Générale des Finances Publiques (DGFIP'
 'Plateaux et terrains de jeux extérieurs'
 ':Contrôle technique automobile'
 'Centre dispensant de la formation continue agricole'
 'Centre dispensant des formations d’apprentissage agricole'
 'écoles d’enseignement supérieur agricole' ':Ambulance'
 'Cour d’appel (CA)' 'Direction Générale des Finances Publiques (DGFIP)'
 ':Plâtrier peintre']

In [77]:
# Remplacement des nan par "Aucun"
df_selec["insbpe2019_l_type_equipement"]=df_selec["insbpe2019_l_type_equipement"].replace({"nan": "Aucun"})

In [78]:
# On ne va conserver que les occurences qui à priori occasionnent le plus de nuisances sonores pour les riverains 
# et qui par conséquent sont suceptibles de déclencher une revente

def filtre_supermarché (x):
    if x=="Supermarché" or x=="Épicerie" or x=="Supérette" or x=="Hypermarché" :
        return 1
    else :
        return 0

In [79]:
df_selec["insbpe2019_l_type_equipement_supermarché"]=df_selec["insbpe2019_l_type_equipement"].apply(filtre_supermarché)

In [80]:
df_selec["insbpe2019_l_type_equipement_supermarché"].value_counts()

0    91899
1     1852
Name: insbpe2019_l_type_equipement_supermarché, dtype: int64

In [81]:
def filtre_restaurant (x):
    if x=="Restaurant - Restauration rapide" or x==":Restaurant - Restauration rapide" or x=="Restaurant universitaire" :
        return 1
    else :
        return 0

In [82]:
df_selec["insbpe2019_l_type_equipement_restaurant"]=df_selec["insbpe2019_l_type_equipement"].apply(filtre_restaurant)

In [83]:
df_selec["insbpe2019_l_type_equipement_restaurant"].value_counts()

0    84426
1     9325
Name: insbpe2019_l_type_equipement_restaurant, dtype: int64

In [84]:
def filtre_boulangerie (x):
    if x=="Boulangerie" or x==":Boulangerie" :
        return 1
    else :
        return 0

In [85]:
df_selec["insbpe2019_l_type_equipement_boulangerie"]=df_selec["insbpe2019_l_type_equipement"].apply(filtre_boulangerie)

In [86]:
df_selec["insbpe2019_l_type_equipement_boulangerie"].value_counts()

0    92644
1     1107
Name: insbpe2019_l_type_equipement_boulangerie, dtype: int64

In [87]:
def filtre_aucun (x) :
    if x=="Aucun":
        return 1
    else :
        return 0
    
df_selec["insbpe2019_l_type_equipement_aucun"]=df_selec["insbpe2019_l_type_equipement"].apply(filtre_aucun)
df_selec["insbpe2019_l_type_equipement_aucun"].value_counts()

0    65585
1    28166
Name: insbpe2019_l_type_equipement_aucun, dtype: int64

In [88]:
liste_equipement =["Supermarché", 
                   "Épicerie", 
                   "Supérette",
                   "Hypermarché", 
                   "Restaurant - Restauration rapide",
                   ":Restaurant - Restauration rapide",
                   "Restaurant universitaire",
                   "Boulangerie",
                   ":Boulangerie",
                   "Aucun"]

def filtre_autre_equipement (x) :
    if x in  liste_equipement :
        return 0
    else :
        return 1
    
df_selec["insbpe2019_l_type_equipement_autre"]=df_selec["insbpe2019_l_type_equipement"].apply(filtre_autre_equipement)
df_selec["insbpe2019_l_type_equipement_autre"].value_counts()

1    53301
0    40450
Name: insbpe2019_l_type_equipement_autre, dtype: int64

In [89]:
#On peut maintenant supprimer la colonne df_selec["insbpe2019_l_type_equipement"]

object_columns.remove("insbpe2019_l_type_equipement")
df_selec=df_selec.drop("insbpe2019_l_type_equipement", axis=1)

In [90]:
# Et ajouter les 5 colonnes équipements nouvellement créées dans la liste des variables numériques

liste_new_colonne=["insbpe2019_l_type_equipement_supermarché",
                   "insbpe2019_l_type_equipement_restaurant",
                   "insbpe2019_l_type_equipement_boulangerie",
                   "insbpe2019_l_type_equipement_aucun",
                   "insbpe2019_l_type_equipement_autre"]

for col in liste_new_colonne :
    numeric_columns.append(col)

In [91]:
numeric_columns

['valeurfonc',
 'scarrez',
 'anarnc202012_nb_log',
 'anarnc202012_nb_lot_garpark',
 'anarnc202012_nb_lot_tertiaire',
 'anarnc202012_nb_lot_tot',
 'adedpe202006_logtype_perc_surf_vitree_ext',
 'adedpe202006_logtype_presence_balcon',
 'adedpe202006_logtype_presence_climatisation',
 'ancqpv201410_is_qpv',
 'igntop202103_bat_hauteur',
 'mcumer202007_is_mer',
 'adedpe202006_logtype_s_hab',
 'idmutation',
 'qty_of_mut',
 'y',
 'idnatmut',
 'anneemut',
 'moismut',
 'nblot',
 'nbcomm',
 'l_codinsee',
 'nblocapt',
 'nblocdep',
 'nbapt2pp',
 'nbapt3pp',
 'sbati',
 'sbatapt',
 'sbatact',
 'sapt2pp',
 'sapt3pp',
 'cerffo2020_nb_log',
 'insbpe2019_l_type_equipement_supermarché',
 'insbpe2019_l_type_equipement_restaurant',
 'insbpe2019_l_type_equipement_boulangerie',
 'insbpe2019_l_type_equipement_aucun',
 'insbpe2019_l_type_equipement_autre']

In [92]:
object_columns

['datemut',
 'libnatmut',
 'vefa',
 'adedpe202006_logtype_baie_orientation',
 'adedpe202006_logtype_baie_type_vitrage',
 'adedpe202006_logtype_ch_gen_lib_princ',
 'adedpe202006_mean_class_conso_ener',
 'adedpe202006_mean_class_estim_ges',
 'adedpe202006_logtype_traversant',
 'adedpe202006_logtype_ecs_type_ener',
 'adedpe202006_logtype_enr',
 'adedpe202006_logtype_ph_pos_isol',
 'adedpe202006_logtype_type_batiment',
 'arcthd2021t1_l_bat_type',
 'cerffo2020_usage_niveau_1_txt',
 'georad2020_alea',
 'adedpe202006_logtype_ch_type_inst',
 'adedpe202006_logtype_ecs_type_inst',
 'adedpe202006_logtype_mur_ep_mat_ext',
 'adedpe202006_logtype_mur_mat_ext',
 'adedpe202006_logtype_mur_pos_isol_ext']

In [93]:
for col in df_selec[object_columns]:
    print(df_selec[col].nunique())

2314
2
2
5
4
19
8
8
9
5
3
5
5
3
5
1
2
2
31
6
5

In [94]:

df_selec.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 93751 entries, 0 to 93910
Data columns (total 59 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   idmutation                                   93751 non-null  int64
 1   qty_of_mut                                   93751 non-null  int64
 2   y                                            93751 non-null  int64
 3   idnatmut                                     93751 non-null  int64
 4   datemut                                      93751 non-null  object
 5   anneemut                                     93751 non-null  int64
 6   moismut                                      93751 non-null  int64
 7   libnatmut                                    93751 non-null  object
 8   vefa                                         93751 non-null  object
 9   valeurfonc                                   93717 non-null  float64
 10  nblot                                        93751 non-null  int64
 11  nbcomm                                       93751 non-null  int64
 12  l_codinsee                                   93751 non-null  int64
 13  nblocapt                                     93751 non-null  int64
 14  nblocdep                                     93751 non-null  int64
 15  nbapt2pp                                     93751 non-null  int64
 16  nbapt3pp                                     93751 non-null  int64
 17  sbati                                        93751 non-null  int64
 18  sbatapt                                      93751 non-null  int64
 19  sbatact                                      93751 non-null  int64
 20  sapt2pp                                      93751 non-null  int64
 21  sapt3pp                                      93751 non-null  int64
 22  scarrez                                      93751 non-null  float64
 23  anarnc202012_nb_log                          56344 non-null  float64
 24  anarnc202012_nb_lot_garpark                  56344 non-null  float64
 25  anarnc202012_nb_lot_tertiaire                56344 non-null  float64
 26  anarnc202012_nb_lot_tot                      56344 non-null  float64
 27  adedpe202006_logtype_baie_orientation        93751 non-null  object
 28  adedpe202006_logtype_baie_type_vitrage       61345 non-null  object
 29  adedpe202006_logtype_ch_gen_lib_princ        61388 non-null  object
 30  adedpe202006_mean_class_conso_ener           62419 non-null  object
 31  adedpe202006_mean_class_estim_ges            62419 non-null  object
 32  adedpe202006_logtype_traversant              48263 non-null  object
 33  adedpe202006_logtype_ecs_type_ener           60299 non-null  object
 34  adedpe202006_logtype_enr                     93751 non-null  object
 35  adedpe202006_logtype_perc_surf_vitree_ext    8488 non-null   float64
 36  adedpe202006_logtype_ph_pos_isol             43737 non-null  object
 37  adedpe202006_logtype_presence_balcon         9570 non-null   float64
 38  adedpe202006_logtype_presence_climatisation  62370 non-null  float64
 39  adedpe202006_logtype_type_batiment           62370 non-null  object
 40  ancqpv201410_is_qpv                          92792 non-null  float64
 41  arcthd2021t1_l_bat_type                      93751 non-null  object
 42  cerffo2020_annee_construction                71985 non-null  category
 43  cerffo2020_usage_niveau_1_txt                93751 non-null  object
 44  cerffo2020_nb_log                            93751 non-null  int64
 45  georad2020_alea                              92792 non-null  object
 46  igntop202103_bat_hauteur                     92692 non-null  float64
 47  mcumer202007_is_mer                          92792 non-null  float64
 48  adedpe202006_logtype_s_hab                   61784 non-null  float64
 49  adedpe202006_logtype_ch_type_inst            50530 non-null  object
 50  adedpe202006_logtype_ecs_type_inst           51357 non-null  object
 51  adedpe202006_logtype_mur_ep_mat_ext          9285 non-null   object
 52  adedpe202006_logtype_mur_mat_ext             93751 non-null  object
 53  adedpe202006_logtype_mur_pos_isol_ext        93751 non-null  object
 54  insbpe2019_l_type_equipement_supermarché     93751 non-null  int64
 55  insbpe2019_l_type_equipement_restaurant      93751 non-null  int64
 56  insbpe2019_l_type_equipement_boulangerie     93751 non-null  int64
 57  insbpe2019_l_type_equipement_aucun           93751 non-null  int64
 58  insbpe2019_l_type_equipement_autre           93751 non-null  int64
dtypes: category(1), float64(13), int64(24), object(21)
memory usage: 44.3+ MB

In [95]:
df_selec_2=df_selec

In [96]:
df_selec_2.to_csv(r"C:\Users\Anne\Projet Bâtiment\210622\df_selec_2.csv", index=False)