In [1]:
#MODELISATION AVEC VARIABLE CIBLE = Revente (avec durée de détention et evol_val)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df2=pd.read_csv("df2.csv")

In [4]:
df2.head()

,Revente,Immeuble_neuf,nblot,l_codinsee,nblocdep,Type appart,scarrez,anarnc202012_nb_lot_tot,adedpe202006_mean_class_conso_ener,adedpe202006_mean_class_estim_ges,...,adedpe202006_logtype_ch_type_inst,adedpe202006_logtype_ecs_type_inst,adedpe202006_logtype_mur_mat_ext,adedpe202006_logtype_mur_pos_isol_ext,Evol_val,surface_appart,Taille_copro,nbre_etages,insbpe2019_l_type_equipement_bruyant,duree_detention
0,0,0,1,75102,0,2P,22.48,13.0,E,B,...,Unknown,Unknown,Indeterminé,Autres,0.000000,23,Petite,De 4 à 7,0,1.0
1,0,0,2,75106,0,2P,70.28,35.0,E,E,...,individuel,individuel,Mur en pierre,ITI,0.000000,70,Moyenne,De 4 à 7,0,1.0
2,0,0,2,75117,1,2P,50.15,273.0,D,E,...,individuel,individuel,Mur en béton,ITI,0.000000,50,Très grande,De 4 à 7,0,1.0
3,1,0,1,75118,1,3P,48.78,28.0,E,C,...,Unknown,Unknown,Indeterminé,Unknown,0.441123,43,Petite,De 4 à 7,0,1.0
4,1,0,1,75118,0,3P,47.72,28.0,E,C,...,Unknown,Unknown,Indeterminé,Unknown,0.000000,43,Petite,De 4 à 7,0,5.0

In [5]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55195 entries, 0 to 55194
Data columns (total 24 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Revente                                55195 non-null  int64
 1   Immeuble_neuf                          55195 non-null  int64
 2   nblot                                  55195 non-null  object
 3   l_codinsee                             55195 non-null  int64
 4   nblocdep                               55195 non-null  object
 5   Type appart                            55195 non-null  object
 6   scarrez                                55195 non-null  float64
 7   anarnc202012_nb_lot_tot                55195 non-null  float64
 8   adedpe202006_mean_class_conso_ener     55195 non-null  object
 9   adedpe202006_mean_class_estim_ges      55195 non-null  object
 10  adedpe202006_logtype_traversant        55195 non-null  object
 11  cerffo2020_annee_construction          55195 non-null  object
 12  cerffo2020_usage_niveau_1_txt          55195 non-null  object
 13  mcumer202007_is_mer                    55195 non-null  float64
 14  adedpe202006_logtype_ch_type_inst      55195 non-null  object
 15  adedpe202006_logtype_ecs_type_inst     55195 non-null  object
 16  adedpe202006_logtype_mur_mat_ext       55195 non-null  object
 17  adedpe202006_logtype_mur_pos_isol_ext  55195 non-null  object
 18  Evol_val                               55195 non-null  float64
 19  surface_appart                         55195 non-null  int64
 20  Taille_copro                           55195 non-null  object
 21  nbre_etages                            55195 non-null  object
 22  insbpe2019_l_type_equipement_bruyant   55195 non-null  int64
 23  duree_detention                        55195 non-null  float64
dtypes: float64(5), int64(5), object(14)
memory usage: 10.1+ MB

In [6]:
df2.isna().sum()

Revente                                  0
Immeuble_neuf                            0
nblot                                    0
l_codinsee                               0
nblocdep                                 0
Type appart                              0
scarrez                                  0
anarnc202012_nb_lot_tot                  0
adedpe202006_mean_class_conso_ener       0
adedpe202006_mean_class_estim_ges        0
adedpe202006_logtype_traversant          0
cerffo2020_annee_construction            0
cerffo2020_usage_niveau_1_txt            0
mcumer202007_is_mer                      0
adedpe202006_logtype_ch_type_inst        0
adedpe202006_logtype_ecs_type_inst       0
adedpe202006_logtype_mur_mat_ext         0
adedpe202006_logtype_mur_pos_isol_ext    0
Evol_val                                 0
surface_appart                           0
Taille_copro                             0
nbre_etages                              0
insbpe2019_l_type_equipement_bruyant     0
duree_detention                          0
dtype: int64

In [7]:
# Scarrez et surface_appart sont très corrélés. Suppression de surface_appart
df2=df2.drop("surface_appart", axis=1)

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
#Features / Target

X=df2.drop("Revente", axis=1)
y=df2["Revente"]

X.shape, y.shape

((55195, 22), (55195,))

In [10]:
float_columns=X.loc[:, X.dtypes == np.float64].columns.tolist()
int_columns=X.loc[:, X.dtypes == np.int64].columns.tolist()
numeric_columns=float_columns+int_columns
numeric_columns

['scarrez',
 'anarnc202012_nb_lot_tot',
 'mcumer202007_is_mer',
 'Evol_val',
 'duree_detention',
 'Immeuble_neuf',
 'l_codinsee',
 'insbpe2019_l_type_equipement_bruyant']

In [11]:
object_columns=X.loc[:, X.dtypes == "object"].columns.tolist()
object_columns

['nblot',
 'nblocdep',
 'Type appart',
 'adedpe202006_mean_class_conso_ener',
 'adedpe202006_mean_class_estim_ges',
 'adedpe202006_logtype_traversant',
 'cerffo2020_annee_construction',
 'cerffo2020_usage_niveau_1_txt',
 'adedpe202006_logtype_ch_type_inst',
 'adedpe202006_logtype_ecs_type_inst',
 'adedpe202006_logtype_mur_mat_ext',
 'adedpe202006_logtype_mur_pos_isol_ext',
 'Taille_copro',
 'nbre_etages']

In [12]:
X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.25, random_state=10)
X_train.shape, X_test.shape

((41396, 22), (13799, 22))

In [13]:
#ENCODAGE DES DONNEES CATEGORIELLES

In [14]:
X_train=X_train.join(pd.get_dummies(X_train.loc[:, X_train.dtypes == object]))  
to_drop=X_train.loc[:, X_train.dtypes == object]
X_train=X_train.drop(to_drop, axis=1)

In [15]:
X_test=X_test.join(pd.get_dummies(X_test.loc[:, X_test.dtypes == object]))  
to_drop=X_test.loc[:, X_test.dtypes == object]
X_test=X_test.drop(to_drop, axis=1)

In [16]:
X_train.shape

(41396, 70)

In [17]:
X_test.shape

(13799, 70)

In [18]:
# NORMALISATION

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train[numeric_columns] = scaler.fit_transform(X_train[numeric_columns])
X_test[numeric_columns] = scaler.transform(X_test[numeric_columns])

In [19]:
# Utilisation de la carte Scikit Learn pour choix modèle de classification
# https://scikit-learn.org/stable/tutorial/machine_learning_map/index.html

In [20]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [21]:
from sklearn.svm import LinearSVC

model1=LinearSVC()
model1.fit(X_train, y_train)
model1.score(X_test, y_test)

C:\Users\Anne\anaconda3\lib\site-packages\sklearn\svm\_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

0.8926009131096456

In [22]:
y_pred_1=model1.predict(X_test)
pd.crosstab(y_test, y_pred_1)

col_0        0    1
Revente
0        11318    0
1         1482  999

In [23]:
print(classification_report(y_test, y_pred_1))

              precision    recall  f1-score   support

           0       0.88      1.00      0.94     11318
           1       1.00      0.40      0.57      2481

    accuracy                           0.89     13799
   macro avg       0.94      0.70      0.76     13799
weighted avg       0.91      0.89      0.87     13799

In [24]:
from sklearn.neighbors import KNeighborsClassifier

model2=KNeighborsClassifier()
model2.fit(X_train, y_train)
model2.score(X_test, y_test)

0.8544822088557141

In [25]:
y_pred_2=model2.predict(X_test)
pd.crosstab(y_test, y_pred_2)

col_0        0    1
Revente
0        11038  280
1         1728  753

In [26]:
print(classification_report(y_test, y_pred_2))

              precision    recall  f1-score   support

           0       0.86      0.98      0.92     11318
           1       0.73      0.30      0.43      2481

    accuracy                           0.85     13799
   macro avg       0.80      0.64      0.67     13799
weighted avg       0.84      0.85      0.83     13799

In [27]:
from sklearn.ensemble import RandomForestClassifier

model3=RandomForestClassifier()
model3.fit(X_train, y_train)
model3.score(X_test, y_test)

0.9039785491702297

In [28]:
y_pred_3=model3.predict(X_test)
pd.crosstab(y_test, y_pred_3)

col_0        0     1
Revente
0        11191   127
1         1198  1283

In [29]:
print(classification_report(y_test, y_pred_3))

              precision    recall  f1-score   support

           0       0.90      0.99      0.94     11318
           1       0.91      0.52      0.66      2481

    accuracy                           0.90     13799
   macro avg       0.91      0.75      0.80     13799
weighted avg       0.90      0.90      0.89     13799

In [30]:
# Affichage des meilleurs paramètres
feats = {}
for feature, importance in zip(X_train.columns, model3.feature_importances_):
    feats[feature] = importance 
    
importances = pd.DataFrame.from_dict(feats, orient='index').rename(columns={0: 'Importance'})
importances.sort_values(by='Importance', ascending=False).head(5)

                         Importance
Evol_val                   0.373902
scarrez                    0.116527
duree_detention            0.087844
anarnc202012_nb_lot_tot    0.073444
l_codinsee                 0.049611

In [31]:
from sklearn.linear_model import SGDClassifier

model4=SGDClassifier()
model4.fit(X_train, y_train)
model4.score(X_test, y_test)

0.9007899123124864

In [32]:
y_pred_4=model4.predict(X_test)
pd.crosstab(y_test, y_pred_4)

col_0        0     1
Revente
0        11318     0
1         1369  1112

In [33]:
print(classification_report(y_test, y_pred_4))

              precision    recall  f1-score   support

           0       0.89      1.00      0.94     11318
           1       1.00      0.45      0.62      2481

    accuracy                           0.90     13799
   macro avg       0.95      0.72      0.78     13799
weighted avg       0.91      0.90      0.88     13799

In [34]:
from sklearn.linear_model import LogisticRegression

model5=LogisticRegression()
model5.fit(X_train, y_train)
model5.score(X_test, y_test)

C:\Users\Anne\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8979636205522139

In [35]:
y_pred_5=model5.predict(X_test)
pd.crosstab(y_test, y_pred_5)

col_0        0     1
Revente
0        11318     0
1         1408  1073

In [36]:
print(classification_report(y_test, y_pred_5))

              precision    recall  f1-score   support

           0       0.89      1.00      0.94     11318
           1       1.00      0.43      0.60      2481

    accuracy                           0.90     13799
   macro avg       0.94      0.72      0.77     13799
weighted avg       0.91      0.90      0.88     13799

In [37]:
#from sklearn.svm import SVC

#model6=SVC(kernel="linear")
#model6.fit(X_train, y_train)
#model6.score(X_test, y_test)

In [38]:
#y_pred_6=model6.predict(X_test)
#pd.crosstab(y_test, y_pred_6)

In [39]:
#print(classification_report(y_test, y_pred_6))

In [40]:
from sklearn.tree import DecisionTreeClassifier

model7=DecisionTreeClassifier()
model7.fit(X_train, y_train)
model7.score(X_test, y_test)

0.8380317414305385

In [41]:
y_pred_7=model7.predict(X_test)
pd.crosstab(y_test, y_pred_7)

col_0        0     1
Revente
0        10102  1216
1         1019  1462

In [42]:
print(classification_report(y_test, y_pred_7))

              precision    recall  f1-score   support

           0       0.91      0.89      0.90     11318
           1       0.55      0.59      0.57      2481

    accuracy                           0.84     13799
   macro avg       0.73      0.74      0.73     13799
weighted avg       0.84      0.84      0.84     13799

In [43]:
# Affichage des meilleurs paramètres
feats = {}
for feature, importance in zip(X_train.columns, model7.feature_importances_):
    feats[feature] = importance 
    
importances = pd.DataFrame.from_dict(feats, orient='index').rename(columns={0: 'Importance'})
importances.sort_values(by='Importance', ascending=False).head(5)

                         Importance
Evol_val                   0.455849
scarrez                    0.144715
anarnc202012_nb_lot_tot    0.077884
duree_detention            0.035053
l_codinsee                 0.030866

In [44]:
# Le meilleur score est obtenu pour le modèle de RandomForestClassifier. 
# Nous allons donc essayer d'optimiser ce modèle :

In [45]:
# Gridsearch

#from sklearn.model_selection import GridSearchCV
#model3=RandomForestClassifier(random_state=123)

In [46]:
#params_model3={'max_features': ['auto', 'sqrt', 'log2'],
#    'max_depth' : [4,5,6,7,8],
#    'criterion' :['gini', 'entropy']}

In [47]:
#CV_model3 = GridSearchCV(estimator=model3, param_grid=params_model3, cv= 5)
#CV_model3.fit(X_train, y_train)

In [48]:
#CV_model3.best_params_

In [49]:
#print("score : {}".format(CV_model3.score(X_test, y_test)))

In [50]:
# Prédiction du modèle
#y_pred_CV_model3 = CV_model3.predict(X_test)

In [51]:
# Matrice de correlation
#pd.crosstab(y_test, y_pred_CV_model3, rownames=['Classe'], colnames=['Classe prédite par dt'])

In [52]:
# Rapport de classification
#print(classification_report(y_test, y_pred_CV_model3))

In [53]:
# On va essayer d'améliorer le recall du RandomForestClassifier avec l'over et l'undersampling

In [54]:
# OVERSAMPLING ALEATOIRE

from imblearn.over_sampling import RandomOverSampler
from imblearn.metrics import classification_report_imbalanced

In [55]:
ros = RandomOverSampler()
X_ro, y_ro = ros.fit_resample(X_train, y_train)
print(y_ro.value_counts())

0    33966
1    33966
Name: Revente, dtype: int64

In [56]:
model3.fit(X_ro, y_ro)
y_pred = model3.predict(X_test)
cm = pd.crosstab(y_test, y_pred, rownames=['Classe réelle'], colnames=['Classe prédite'])
cm

Classe prédite      0     1
Classe réelle
0               11008   310
1                1153  1328

In [57]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.91      0.97      0.94     11318
           1       0.81      0.54      0.64      2481

    accuracy                           0.89     13799
   macro avg       0.86      0.75      0.79     13799
weighted avg       0.89      0.89      0.89     13799

In [58]:
# SMOTE

from imblearn.over_sampling import SMOTE

In [59]:
sm = SMOTE()
X_sm, y_sm = sm.fit_resample(X_train, y_train)
print(y_sm.value_counts())

0    33966
1    33966
Name: Revente, dtype: int64

In [60]:
model3.fit(X_sm, y_sm)
y_pred = model3.predict(X_test)
cm = pd.crosstab(y_test, y_pred, rownames=['Classe réelle'], colnames=['Classe prédite'])
cm

Classe prédite      0     1
Classe réelle
0               11038   280
1                1167  1314

In [61]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.90      0.98      0.94     11318
           1       0.82      0.53      0.64      2481

    accuracy                           0.90     13799
   macro avg       0.86      0.75      0.79     13799
weighted avg       0.89      0.90      0.89     13799

In [62]:
#ADASYN

from imblearn.over_sampling import ADASYN

In [63]:
adsyn = ADASYN()
X_adsyn, y_adsyn = adsyn.fit_resample(X_train, y_train)
print(y_adsyn.value_counts())

1    34186
0    33966
Name: Revente, dtype: int64

In [64]:
model3.fit(X_adsyn, y_adsyn)
y_pred = model3.predict(X_test)
cm = pd.crosstab(y_test, y_pred, rownames=['Classe réelle'], colnames=['Classe prédite'])
cm

Classe prédite      0     1
Classe réelle
0               10990   328
1                1159  1322

In [65]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.90      0.97      0.94     11318
           1       0.80      0.53      0.64      2481

    accuracy                           0.89     13799
   macro avg       0.85      0.75      0.79     13799
weighted avg       0.89      0.89      0.88     13799

In [66]:
#BORDERLINE smote

from imblearn.over_sampling import BorderlineSMOTE

In [67]:
bdls = BorderlineSMOTE()
X_bdls, y_bdls = bdls.fit_resample(X_train, y_train)
print(y_bdls.value_counts())

0    33966
1    33966
Name: Revente, dtype: int64

In [68]:
model3.fit(X_bdls, y_bdls)
y_pred = model3.predict(X_test)
cm = pd.crosstab(y_test, y_pred, rownames=['Classe réelle'], colnames=['Classe prédite'])
cm

Classe prédite      0     1
Classe réelle
0               11027   291
1                1162  1319

In [69]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.90      0.97      0.94     11318
           1       0.82      0.53      0.64      2481

    accuracy                           0.89     13799
   macro avg       0.86      0.75      0.79     13799
weighted avg       0.89      0.89      0.89     13799

In [70]:
# UNDERSAMPLING ALEATOIRE
from imblearn.under_sampling import RandomUnderSampler

In [71]:
RUS=RandomUnderSampler()
X_ru, y_ru=RUS.fit_resample(X_train, y_train)
print(y_ru.value_counts())

0    7430
1    7430
Name: Revente, dtype: int64

In [72]:
model3.fit(X_ru, y_ru)
y_pred = model3.predict(X_test)
cm = pd.crosstab(y_test, y_pred, rownames=['Classe réelle'], colnames=['Classe prédite'])
cm

Classe prédite     0     1
Classe réelle
0               9682  1636
1                854  1627

In [73]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.92      0.86      0.89     11318
           1       0.50      0.66      0.57      2481

    accuracy                           0.82     13799
   macro avg       0.71      0.76      0.73     13799
weighted avg       0.84      0.82      0.83     13799

In [74]:
# PARAMETRE CLASS_WEIGHT
model3=RandomForestClassifier(class_weight={0: 0.30, 1: 0.70})
model3.fit(X_train, y_train)
model3.score(X_test, y_test)

0.9036162040727589

In [75]:
y_pred_3=model3.predict(X_test)
pd.crosstab(y_test, y_pred_3)

col_0        0     1
Revente
0        11196   122
1         1208  1273

In [76]:
print(classification_report(y_test, y_pred_3))

              precision    recall  f1-score   support

           0       0.90      0.99      0.94     11318
           1       0.91      0.51      0.66      2481

    accuracy                           0.90     13799
   macro avg       0.91      0.75      0.80     13799
weighted avg       0.90      0.90      0.89     13799

In [77]:
# MODIFICATION DU SEUIL DE PROBA

In [81]:
model3=RandomForestClassifier()
model3.fit(X_train, y_train)

threshold = 0.3

probs = model3.predict_proba(X_test)
pred_class = (probs[:,1]>=threshold).astype('int')

pd.crosstab(y_test, pred_class)

col_0        0     1
Revente
0        10745   573
1         1090  1391

In [82]:
print(classification_report(y_test, pred_class))

              precision    recall  f1-score   support

           0       0.91      0.95      0.93     11318
           1       0.71      0.56      0.63      2481

    accuracy                           0.88     13799
   macro avg       0.81      0.76      0.78     13799
weighted avg       0.87      0.88      0.87     13799

In [80]:
#https://datascientest.com/comment-gerer-les-problemes-de-classification-desequilibree-partie-ii