In [1]:
import pandas as pd
import numpy as np

In [2]:
df_final=pd.read_csv("df_final.csv")

C:\Users\Anne\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (45,171,194,229) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df_final.head()

,geombui,bnb_id,bnb_l_geombui_id,bnb_matching_type,bnb_optim_status,bnb_sfce_geombat_m2,bnb_altitude_sol,insee_code_commune,insee_code_dept,insee_code_dept_num,...,codvoie,voie,codepostal,commune,idadrinvar,coddep_x,coddep_y,etaban_lot,qty_of_mut,y
0,"MULTIPOLYGON (((651611.7 6862718.0,651608.4 68...",75101000AS0007_dfbe38a28e3f986,(1:BATIMENT0000000245185276-6),sp-n.1,NaN,2154.0,36.0,75101,75,75,...,4901,JEAN JACQUES ROUSSEAU,75001.0,PARIS 01,19$$4901$RUE$JEAN JACQUES ROUSSEAU$75001$PARIS 01,75,75,75101_4901_00019_93,1,0
1,"MULTIPOLYGON (((654258.8 6861954.8,654248.9 68...",75111000BY0083_e91b43387c313a2,"(9:BATIMENT0000000240744834-1,BATIMENT00000002...",sp-n.m,INFEASIBLE,NaN,31.0,75111,75,75,...,1383,BULLOURDE,75011.0,PARIS 11,5$$1383$PAS$BULLOURDE$75011$PARIS 11,75,75,75111_1383_00005_8057,1,0
2,"MULTIPOLYGON (((650008.0 6865729.8,650017.3 68...",75117000CS0043_cdbf517e1853ed4,(1:BATIMENT0000000245175364-2),sp-1.1,NaN,244.0,41.0,75117,75,75,...,5503,LEMERCIER,75017.0,PARIS 17,103$$5503$RUE$LEMERCIER$75017$PARIS 17,75,75,75117_5503_00103_24,1,0
3,"MULTIPOLYGON (((649673.9 6860532.3,649680.1 68...",75115000CS0060_e2adb0db8c7947a,(1:BATIMENT0000000241921094-1),sp-1.m,NaN,158.0,47.0,75115,75,75,...,2521,DALOU,75015.0,PARIS 15,8$$2521$RUE$DALOU$75015$PARIS 15,75,75,75115_2521_00008_19,1,0
4,"MULTIPOLYGON (((650929.7 6865171.0,650939.1 68...",75118000AQ0016_a54663fbbbc7683,(1:BATIMENT0000000245203979-1),sp-1.1,NaN,364.0,70.0,75118,75,75,...,2113,DE CLICHY,75018.0,PARIS 18,110$$2113$BD$DE CLICHY$75018$PARIS 18,75,75,75118_2113_00110_19,2,1

In [4]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114072 entries, 0 to 114071
Columns: 247 entries, geombui to y
dtypes: float64(86), int64(59), object(102)
memory usage: 215.0+ MB

In [5]:
# Création d'un Dataframe avec sélection variables CSTB + Cerema + variable cible "y" 
# + variables créées précédemment : "etaban_lot" + "qty_of_mut"
df_selec=df_final[["idmutation",
                   "etaban_lot",
                   "qty_of_mut",
                   "y",
                   "idnatmut",
                   "datemut",
                   "anneemut",
                   "moismut",
                   "libnatmut",
                   "vefa",
                   "valeurfonc",
                   "nblot",
                   "nbcomm",
                   "l_codinsee",
                   "nblocapt",
                   "nblocdep",
                   "nbapt2pp",
                   "nbapt3pp",
                   "sbati",
                   "sbatapt",
                   "sbatact",
                   "sapt2pp",
                   "sapt3pp",
                   "scarrez",
                   "nolot",
"anarnc202012_nb_log",
"anarnc202012_nb_lot_garpark",
"anarnc202012_nb_lot_tertiaire",
"anarnc202012_nb_lot_tot",
"etaban202111_label",
"mcumer202007_id",
"adedpe202006_logtype_baie_orientation",
"adedpe202006_logtype_baie_type_vitrage",
"adedpe202006_logtype_ch_gen_lib_princ",
"adedpe202006_mean_class_conso_ener",
"adedpe202006_mean_class_estim_ges",
"adedpe202006_logtype_traversant",
"adedpe202006_logtype_ecs_type_ener",
"adedpe202006_logtype_enr",
"adedpe202006_logtype_perc_surf_vitree_ext",
"adedpe202006_logtype_ph_pos_isol",
"adedpe202006_logtype_presence_balcon",
"adedpe202006_logtype_presence_climatisation",
"adedpe202006_logtype_type_batiment",
"ancqpv201410_is_qpv",
"arcthd2021t1_l_bat_type",
"cerffo2020_annee_construction",
"cerffo2020_usage_niveau_1_txt",
"cerffo2020_nb_log",
"geoarg2020_alea",
"georad2020_alea",
"igntop202103_bat_hauteur",
"insbpe2019_l_type_equipement",
"mcumer202007_dist500min",
"mcumer202007_is_mer",
"adedpe202006_logtype_s_hab",
"adedpe202006_logtype_ch_type_inst",
"adedpe202006_logtype_ecs_type_inst",
"adedpe202006_logtype_mur_ep_mat_ext",
"adedpe202006_logtype_mur_mat_ext",
"adedpe202006_logtype_mur_pos_isol_ext"]]

In [6]:
df_selec.head()

,idmutation,etaban_lot,qty_of_mut,y,idnatmut,datemut,anneemut,moismut,libnatmut,vefa,...,igntop202103_bat_hauteur,insbpe2019_l_type_equipement,mcumer202007_dist500min,mcumer202007_is_mer,adedpe202006_logtype_s_hab,adedpe202006_logtype_ch_type_inst,adedpe202006_logtype_ecs_type_inst,adedpe202006_logtype_mur_ep_mat_ext,adedpe202006_logtype_mur_mat_ext,adedpe202006_logtype_mur_pos_isol_ext
0,7819809,75101_4901_00019_93,1,0,1,2021-06-04,2021,6,Vente,f,...,20.2,"(7:Agence immobilière,Magasin d'équipements du...",465.0,1.0,75.0,individuel,individuel,NaN,murs en briques pleines simples,ITI
1,7819819,75111_1383_00005_8057,1,0,1,2021-11-25,2021,11,Vente,f,...,35.0,"(11:Menuisier, charpentier, serrurier,Pressing...",51.0,1.0,24.0,collectif,collectif,NaN,murs en béton banché,ITI
2,7819821,75117_5503_00103_24,1,0,1,2021-03-18,2021,3,Vente,f,...,18.8,NaN,407.0,1.0,36.0,individuel,individuel,NaN,murs en pierre de taille et moellons avec remp...,ITI
3,7819822,75115_2521_00008_19,1,0,1,2021-11-12,2021,11,Vente,f,...,18.0,NaN,78.0,1.0,49.0,individuel,individuel,NaN,murs en pierre,ITI
4,7819824,75118_2113_00110_19,2,1,1,2021-01-08,2021,1,Vente,f,...,18.9,(1:Restaurant - Restauration rapide),427.0,1.0,100.0,individuel,individuel,NaN,murs en pierre de taille et moellons avec remp...,ITI

In [7]:
df_selec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114072 entries, 0 to 114071
Data columns (total 61 columns):
 #   Column                                       Non-Null Count   Dtype
---  ------                                       --------------   -----
 0   idmutation                                   114072 non-null  int64
 1   etaban_lot                                   114072 non-null  object
 2   qty_of_mut                                   114072 non-null  int64
 3   y                                            114072 non-null  int64
 4   idnatmut                                     114072 non-null  int64
 5   datemut                                      114072 non-null  object
 6   anneemut                                     114072 non-null  int64
 7   moismut                                      114072 non-null  int64
 8   libnatmut                                    114072 non-null  object
 9   vefa                                         114072 non-null  object
 10  valeurfonc                                   114033 non-null  float64
 11  nblot                                        114072 non-null  int64
 12  nbcomm                                       114072 non-null  int64
 13  l_codinsee                                   114072 non-null  int64
 14  nblocapt                                     114072 non-null  int64
 15  nblocdep                                     114072 non-null  int64
 16  nbapt2pp                                     114072 non-null  int64
 17  nbapt3pp                                     114072 non-null  int64
 18  sbati                                        114072 non-null  int64
 19  sbatapt                                      114072 non-null  int64
 20  sbatact                                      114072 non-null  int64
 21  sapt2pp                                      114072 non-null  int64
 22  sapt3pp                                      114072 non-null  int64
 23  scarrez                                      114072 non-null  float64
 24  nolot                                        114072 non-null  object
 25  anarnc202012_nb_log                          105340 non-null  float64
 26  anarnc202012_nb_lot_garpark                  105340 non-null  float64
 27  anarnc202012_nb_lot_tertiaire                105340 non-null  float64
 28  anarnc202012_nb_lot_tot                      105340 non-null  float64
 29  etaban202111_label                           114072 non-null  object
 30  mcumer202007_id                              107993 non-null  object
 31  adedpe202006_logtype_baie_orientation        93490 non-null   object
 32  adedpe202006_logtype_baie_type_vitrage       106602 non-null  object
 33  adedpe202006_logtype_ch_gen_lib_princ        107050 non-null  object
 34  adedpe202006_mean_class_conso_ener           107848 non-null  object
 35  adedpe202006_mean_class_estim_ges            107848 non-null  object
 36  adedpe202006_logtype_traversant              93490 non-null   object
 37  adedpe202006_logtype_ecs_type_ener           105833 non-null  object
 38  adedpe202006_logtype_enr                     36 non-null      object
 39  adedpe202006_logtype_perc_surf_vitree_ext    18372 non-null   float64
 40  adedpe202006_logtype_ph_pos_isol             81449 non-null   object
 41  adedpe202006_logtype_presence_balcon         20109 non-null   float64
 42  adedpe202006_logtype_presence_climatisation  107820 non-null  float64
 43  adedpe202006_logtype_type_batiment           107820 non-null  object
 44  ancqpv201410_is_qpv                          113819 non-null  float64
 45  arcthd2021t1_l_bat_type                      89037 non-null   object
 46  cerffo2020_annee_construction                103191 non-null  float64
 47  cerffo2020_usage_niveau_1_txt                114072 non-null  object
 48  cerffo2020_nb_log                            114072 non-null  int64
 49  geoarg2020_alea                              0 non-null       float64
 50  georad2020_alea                              113819 non-null  object
 51  igntop202103_bat_hauteur                     113804 non-null  float64
 52  insbpe2019_l_type_equipement                 72948 non-null   object
 53  mcumer202007_dist500min                      107993 non-null  float64
 54  mcumer202007_is_mer                          113819 non-null  float64
 55  adedpe202006_logtype_s_hab                   107644 non-null  float64
 56  adedpe202006_logtype_ch_type_inst            94029 non-null   object
 57  adedpe202006_logtype_ecs_type_inst           95007 non-null   object
 58  adedpe202006_logtype_mur_ep_mat_ext          19656 non-null   object
 59  adedpe202006_logtype_mur_mat_ext             96140 non-null   object
 60  adedpe202006_logtype_mur_pos_isol_ext        105000 non-null  object
dtypes: float64(16), int64(19), object(26)
memory usage: 53.1+ MB

In [8]:
df_selec.isna().sum()

idmutation                                   0
etaban_lot                                   0
qty_of_mut                                   0
y                                            0
idnatmut                                     0
                                         ...
adedpe202006_logtype_ch_type_inst        20043
adedpe202006_logtype_ecs_type_inst       19065
adedpe202006_logtype_mur_ep_mat_ext      94416
adedpe202006_logtype_mur_mat_ext         17932
adedpe202006_logtype_mur_pos_isol_ext     9072
Length: 61, dtype: int64

**Grosse proportion de Nan dans les variables issues du CSTB (voir démonstration en fin de NB1)=> Cette forte proportion de Nan est due au fichier d'origine CSTB. Pas de perte due aux merge ou autre. Les variables "anarnc202012_nb_log ", "anarnc202012_nb_lot_garpark", "anarnc202012_nb_lot_tertiaire", "anarnc202012_nb_lot_tot" ont le même nombre de Nan. On fait le pari qu'en supprimant les lignes Nan en colonne "anarnc202012_nb_log, les Nan vont aussi disparaitre ou réduire drastiquement dans les autres colonnes CSTB.

In [9]:
df_selec=df_selec.dropna(subset=["anarnc202012_nb_log"])

**Pari réussi. On part là dessus...

**Variable cible "y"

In [10]:
df_selec["y"].value_counts()

0    85650
1    19690
Name: y, dtype: int64

In [11]:
#Renommer la variable cible pour être plus explicite 
df_selec=df_selec.rename({"y":"Revente"}, axis=1)
df_selec["Revente"]

0         0
2         0
3         0
4         1
5         1
         ..
114066    0
114067    0
114068    0
114069    0
114070    0
Name: Revente, Length: 105340, dtype: int64

**"Variable "qty of mut"

In [12]:
df_selec["qty_of_mut"].value_counts()

1    85650
2    18410
3     1236
4       44
Name: qty_of_mut, dtype: int64

In [13]:
#La variable "qty_of_mut" nous donne le nombre de mutations du lot pendant la période 2014-2021. 
# Mais notre projet consiste à travailler sur le nombre de fois où le bien a été revendu 
# (en plus de cette première mutation) pdt la période. Donc pour une meilleure compréhension, on va renommer les modalités.
df_selec["qty_of_mut"]=df_selec["qty_of_mut"].replace({1:0, 2:1, 3:2, 4:3})
df_selec["qty_of_mut"].value_counts()

0    85650
1    18410
2     1236
3       44
Name: qty_of_mut, dtype: int64

**Analyse de la variable "adedpe202006_logtype_enr" => Energies renouvelables présentes dans le bâtiment

In [14]:
df_selec["adedpe202006_logtype_enr"].unique()

array([nan, 'solaire photovoltaique', 'solaire thermique (ecs)'],
      dtype=object)

In [15]:
df_selec["adedpe202006_logtype_enr"].isna().sum()

105304

In [16]:
df_selec["adedpe202006_logtype_enr"].value_counts().to_frame()

                         adedpe202006_logtype_enr
solaire thermique (ecs)                        31
solaire photovoltaique                          5

In [17]:
# Seulement 36 lignes pour lesquelles la variable est renseignée. 
# Le reste est Nan  mais on peut supposer que ce ne sont pas des vraies Nan. 
# Ca peut plutôt signifier l'absence d'énergies renouvelables dans le bâtiment. Modification des modalités :

def filtre (x):
    if x =="solaire thermique (ecs)" :
        return 1
    elif x =="solaire photovoltaique" :
        return 1
    else : 
        return 0
    
df_selec["adedpe202006_logtype_enr"]=df_selec["adedpe202006_logtype_enr"].apply(filtre)

In [18]:
df_selec["adedpe202006_logtype_enr"].value_counts().to_frame()

   adedpe202006_logtype_enr
0                    105304
1                        36

In [19]:
#**La variable est trop déséquilibrée. Suppression
df_selec=df_selec.drop("adedpe202006_logtype_enr", axis=1)

**Analyse de la variable  "cerffo2020_usage_niveau_1_txt"=> (cstb) indicateurs d'usage simplifié du bâtiment (verbose)

In [20]:
df_selec["cerffo2020_usage_niveau_1_txt"].value_counts().to_frame()

                        cerffo2020_usage_niveau_1_txt
Résidentiel collectif                          102227
Tertiaire & Autres                               2539
Résidentiel individuel                            379
Dépendance                                        188
Secondaire                                          7

In [21]:
df_selec["cerffo2020_usage_niveau_1_txt"].isna().sum()

0

In [22]:
#Regroupement des modalités "dépendances" et "secondaires" en "autres" sinon plantage en get dummies
df_selec["cerffo2020_usage_niveau_1_txt"]=df_selec["cerffo2020_usage_niveau_1_txt"].replace({"Dépendance":"Autres", "Secondaire":"Autres"})

In [23]:
df_selec["cerffo2020_usage_niveau_1_txt"].value_counts()

Résidentiel collectif     102227
Tertiaire & Autres          2539
Résidentiel individuel       379
Autres                       195
Name: cerffo2020_usage_niveau_1_txt, dtype: int64

**Analyse de la variable "idnatmut" =>  identifiant de clef primaire de la table ann_nature_mutation (1=vente - 2 = vefa)

In [24]:
df_selec["idnatmut"].value_counts(ascending=False).to_frame()

   idnatmut
1    105206
2       134

**Analyse de la variable "libnatmut" => libellé de la nature de mutation

In [25]:
df_selec["libnatmut"].value_counts().to_frame()

                                    libnatmut
Vente                                  105206
Vente en l'état futur d'achèvement        134

**Analyse de la variable "vefa" => vrai si la mutation est une Vente en l'état futur d'achèvement (VEFA)

In [26]:
df_selec["vefa"].value_counts().to_frame()

     vefa
f  105206
t     134

In [27]:
df_selec["vefa"].isna().sum()

0

In [28]:
#Redondance de ces 3 variables. Suppression de "idnatmut" et "libnatmut"
df_selec=df_selec.drop(["libnatmut", "idnatmut"], axis=1)

In [29]:
#Qui dit Vefa dit immeuble neuf. On renomme la variable et les modalités :
df_selec.rename(columns={'vefa':"Immeuble_neuf"}, inplace=True)

In [30]:
df_selec["Immeuble_neuf"]=df_selec["Immeuble_neuf"].replace({"f":0, "t":1})

In [31]:
#La variable "nolot" n'est plus utile. Elle a été fusionnée avec etaban dans etaban_lot dans df_final["nolot"] :
df_selec=df_selec.drop("nolot", axis=1)

**Etude de la variable "cerffo2020_annee_construction"

In [32]:
df_selec["cerffo2020_annee_construction"].unique()

array([1820., 1910., 1880., 1900., 2008., 1920., 2018., 1925., 2002.,
         nan, 1980., 1906., 1882., 1932., 1905., 1902., 1890., 1903.,
       1830., 1840., 1896., 1935., 1934., 1931., 1973., 1891., 1914.,
       1939., 1850., 1963., 1930., 1962., 1800., 1958., 1897., 2001.,
       1760., 1959., 1960., 1972., 1997., 1953., 1981., 1941., 1876.,
       1869., 2010., 1868., 1870., 1750., 1956., 1965., 1904., 1650.,
       1908., 1860., 2003., 1929., 2016., 1893., 1976., 1875., 1907.,
       1994., 1885., 1892., 1970., 1888., 1886., 1919., 1901., 1948.,
       2005., 1855., 1955., 1967., 1928., 1912., 1873., 1933., 1848.,
       1969., 1895., 1983., 1978., 1909., 1991., 1957., 1961., 1936.,
       1918., 1872., 1977., 2000., 1600., 1954., 1974., 1825., 1659.,
       1780., 1926., 1913., 1865., 2011., 2004., 1971., 1992., 1640.,
       1966., 1740., 1866., 1999., 1894., 1700., 1856., 1968., 1857.,
       1881., 1810., 1911., 1995., 1859., 1985., 1826., 1950., 2013.,
       1940., 1878., 1987., 1990., 1887., 1979., 2015., 1898., 1998.,
       1989., 1730., 1884., 1670., 1923., 1964., 1899., 1889., 1874.,
       1975., 1837., 1846., 1836., 1915., 1858., 1952., 1783., 1841.,
       1854., 1996., 1845., 2017., 2019., 1993., 1790., 1924., 1937.,
       1710., 1864., 1927., 1988., 1883., 1942., 1715., 1862., 1852.,
       1922., 1867., 1877., 1946., 1879., 1871., 1690., 2014., 1945.,
       2009., 1625., 1799., 1835., 1917., 1916., 2006., 1813., 1951.,
       1530., 1938., 1680., 1770., 1756., 1631., 1815., 1986., 1843.,
       1842., 1805., 1795., 1847., 1851., 1741., 1824., 1823., 1675.,
       1849., 1984., 1660., 1608., 1500., 1943., 1300., 1674., 1982.,
       1839., 1520., 2007., 1630., 1802., 1834., 1804., 1809., 1769.,
       2012., 1620., 1789., 1863., 1753., 1785., 1646., 1787., 1745.,
       1944., 1828., 1792., 1844., 1728., 1807., 1838., 1642., 1853.,
       1663., 1827., 1694., 1629., 1829., 1755., 1921., 1748., 1949.,
       1798., 1772., 1774., 1729., 1720., 1814., 1460., 1808., 1645.,
       1947., 1701., 1758., 1725., 1751., 1832., 1635., 1861., 1812.,
       1778., 1480., 1803., 1550., 1505., 1683., 1782., 1610., 1791.,
       1776., 1400., 1793., 1786., 1604., 1767., 1649., 1698., 1560.,
       1658., 1580., 1643., 1788., 1672., 1743., 1634., 1450., 1796.,
       1648., 1615., 1821., 1689., 1816., 1759., 1612., 1723., 1704.,
       1775., 1831., 1765., 1652.])

In [33]:
df_selec["cerffo2020_annee_construction"].isna().sum()

9488

In [34]:
#Discrétisation de la variable
df_selec["cerffo2020_annee_construction"]=pd.cut(x=df_selec["cerffo2020_annee_construction"], bins=[0,1948,1974,2000,2022], labels=["<1948", "1948-1974", "1974-2000", ">2000"])
df_selec["cerffo2020_annee_construction"].unique()

['<1948', '>2000', NaN, '1974-2000', '1948-1974']
Categories (4, object): ['<1948' < '1948-1974' < '1974-2000' < '>2000']

**Analyse de la variable "adedpe202006_logtype_baie_orientation" => Orientations des vitrages d'un logement représentatif du bâtiment

In [35]:
df_selec["adedpe202006_logtype_baie_orientation"]

0               (1:sud)
2              (1:nord)
3              (1:nord)
4              (1:nord)
5              (1:nord)
              ...
114066         (1:nord)
114067    (2:ouest,sud)
114068         (1:nord)
114069         (1:nord)
114070         (1:nord)
Name: adedpe202006_logtype_baie_orientation, Length: 105340, dtype: object

In [36]:
#Simplification des valeurs de la variable "adedpe202006_logtype_baie_orientation" => 
# sa multitude de valeurs créé des différences de nombre de colonnes entre X train et X test après get dummies.
df_selec["adedpe202006_logtype_baie_orientation"]=df_selec["adedpe202006_logtype_baie_orientation"].astype(str)

In [37]:
df_selec["adedpe202006_logtype_baie_orientation"]=df_selec["adedpe202006_logtype_baie_orientation"].apply(lambda x : x.strip("()"))
df_selec["adedpe202006_logtype_baie_orientation"]

0               1:sud
2              1:nord
3              1:nord
4              1:nord
5              1:nord
             ...
114066         1:nord
114067    2:ouest,sud
114068         1:nord
114069         1:nord
114070         1:nord
Name: adedpe202006_logtype_baie_orientation, Length: 105340, dtype: object

In [38]:
df_selec["adedpe202006_logtype_baie_orientation"].unique()

array(['1:sud', '1:nord', '2:nord,sud', '2:est,ouest', 'nan',
       '2:nord,ouest', '1:ouest', '3:nord,ouest,sud', '2:est,nord',
       '3:est,nord,sud', '4:est,nord,ouest,sud', '1:est',
       '3:est,ouest,sud', '2:ouest,sud', '2:est,sud', '3:est,nord,ouest',
       '1:horizontale', '2:est ou ouest,sud', '2:est ou ouest,nord',
       '3:est,est ou ouest,sud', '2:est,est ou ouest',
       '3:est,indetermine,nord', '2:est,indetermine',
       '3:est,est ou ouest,nord', '3:est ou ouest,nord,sud',
       '3:indetermine,nord,sud', '3:horizontale,nord,sud',
       '1:est ou ouest', '2:est ou ouest,horizontale',
       '3:est,indetermine,ouest', '5:est,horizontale,nord,ouest,sud',
       '2:indetermine,ouest', '4:horizontale,nord,ouest,sud',
       '4:est,est ou ouest,nord,sud', '4:est,horizontale,nord,sud',
       '5:est,indetermine,nord,ouest,sud', '2:indetermine,sud'],
      dtype=object)

In [39]:
df_selec["adedpe202006_logtype_baie_orientation"]=df_selec["adedpe202006_logtype_baie_orientation"].apply(lambda x : x[2:])
df_selec["adedpe202006_logtype_baie_orientation"].unique()

array(['sud', 'nord', 'nord,sud', 'est,ouest', 'n', 'nord,ouest', 'ouest',
       'nord,ouest,sud', 'est,nord', 'est,nord,sud', 'est,nord,ouest,sud',
       'est', 'est,ouest,sud', 'ouest,sud', 'est,sud', 'est,nord,ouest',
       'horizontale', 'est ou ouest,sud', 'est ou ouest,nord',
       'est,est ou ouest,sud', 'est,est ou ouest', 'est,indetermine,nord',
       'est,indetermine', 'est,est ou ouest,nord',
       'est ou ouest,nord,sud', 'indetermine,nord,sud',
       'horizontale,nord,sud', 'est ou ouest', 'est ou ouest,horizontale',
       'est,indetermine,ouest', 'est,horizontale,nord,ouest,sud',
       'indetermine,ouest', 'horizontale,nord,ouest,sud',
       'est,est ou ouest,nord,sud', 'est,horizontale,nord,sud',
       'est,indetermine,nord,ouest,sud', 'indetermine,sud'], dtype=object)

In [40]:
df_selec["adedpe202006_logtype_baie_orientation"]=df_selec["adedpe202006_logtype_baie_orientation"].replace({"n": "Nan"})
df_selec["adedpe202006_logtype_baie_orientation"].unique()

array(['sud', 'nord', 'nord,sud', 'est,ouest', 'Nan', 'nord,ouest',
       'ouest', 'nord,ouest,sud', 'est,nord', 'est,nord,sud',
       'est,nord,ouest,sud', 'est', 'est,ouest,sud', 'ouest,sud',
       'est,sud', 'est,nord,ouest', 'horizontale', 'est ou ouest,sud',
       'est ou ouest,nord', 'est,est ou ouest,sud', 'est,est ou ouest',
       'est,indetermine,nord', 'est,indetermine', 'est,est ou ouest,nord',
       'est ou ouest,nord,sud', 'indetermine,nord,sud',
       'horizontale,nord,sud', 'est ou ouest', 'est ou ouest,horizontale',
       'est,indetermine,ouest', 'est,horizontale,nord,ouest,sud',
       'indetermine,ouest', 'horizontale,nord,ouest,sud',
       'est,est ou ouest,nord,sud', 'est,horizontale,nord,sud',
       'est,indetermine,nord,ouest,sud', 'indetermine,sud'], dtype=object)

In [41]:
df_selec["adedpe202006_logtype_baie_orientation"].value_counts()

nord                              55627
Nan                               17234
est                                6896
nord,sud                           6029
sud                                4463
est,ouest                          3499
ouest                              3374
est,nord,sud                       1055
est,ouest,sud                       958
nord,ouest                          934
ouest,sud                           920
est,sud                             915
est,nord                            847
est,nord,ouest,sud                  808
est,nord,ouest                      778
nord,ouest,sud                      764
horizontale                          46
est,est ou ouest                     34
est ou ouest,nord                    31
est ou ouest,nord,sud                30
est ou ouest,sud                     20
est,est ou ouest,sud                 16
est,indetermine                      16
est ou ouest                         11
indetermine,nord,sud                  8
est,est ou ouest,nord                 5
est,indetermine,nord                  4
horizontale,nord,sud                  3
est,indetermine,nord,ouest,sud        3
est,horizontale,nord,ouest,sud        3
indetermine,ouest                     3
est,est ou ouest,nord,sud             1
est,horizontale,nord,sud              1
est ou ouest,horizontale              1
horizontale,nord,ouest,sud            1
est,indetermine,ouest                 1
indetermine,sud                       1
Name: adedpe202006_logtype_baie_orientation, dtype: int64

In [42]:
def filtre_sud(x) :
    if "sud" in x :
        return 1
    else : 
        return 0
    
df_selec["baie_orientation_sud"]=df_selec["adedpe202006_logtype_baie_orientation"].apply(filtre_sud)
df_selec["baie_orientation_sud"].value_counts()

0    89341
1    15999
Name: baie_orientation_sud, dtype: int64

In [43]:
def filtre_nord(x) :
    if "nord" in x :
        return 1
    else : 
        return 0
    
df_selec["baie_orientation_nord"]=df_selec["adedpe202006_logtype_baie_orientation"].apply(filtre_nord)
df_selec["baie_orientation_nord"].value_counts()

1    66932
0    38408
Name: baie_orientation_nord, dtype: int64

In [44]:
def filtre_ouest(x) :
    if "ouest" in x :
        return 1
    else : 
        return 0
    
df_selec["baie_orientation_ouest"]=df_selec["adedpe202006_logtype_baie_orientation"].apply(filtre_ouest)
df_selec["baie_orientation_ouest"].value_counts()

0    93145
1    12195
Name: baie_orientation_ouest, dtype: int64

In [45]:
def filtre_est(x) :
    if x.startswith("est") :
        return 1
    else : 
        return 0
    
df_selec["baie_orientation_est"]=df_selec["adedpe202006_logtype_baie_orientation"].apply(filtre_est)
df_selec["baie_orientation_est"].value_counts()

0    89407
1    15933
Name: baie_orientation_est, dtype: int64

In [46]:
def filtre_autre(x) :
    if "indetermine" in x:
        return 1
    elif "horizontale" in x:
        return 1
    else : 
        return 0
    
df_selec["baie_orientation_autre"]=df_selec["adedpe202006_logtype_baie_orientation"].apply(filtre_autre)
df_selec["baie_orientation_autre"].value_counts()

0    105249
1        91
Name: baie_orientation_autre, dtype: int64

In [47]:
#Suppression de la variable df_selec["adedpe202006_logtype_baie_orientation"]
df_selec=df_selec.drop("adedpe202006_logtype_baie_orientation", axis=1)

In [48]:
#Après réflexion, toutes ces variables orientation concernent seulement un logement représentatif du bâtiment=> on supprime
to_drop=["baie_orientation_sud","baie_orientation_nord", "baie_orientation_ouest", "baie_orientation_est", "baie_orientation_autre"]
df_selec=df_selec.drop(to_drop, axis=1)

**Analyse de la variable "adedpe202006_logtype_ch_gen_lib_princ" :  Type de générateur de chauffage principal

In [51]:
# Simplification des valeurs de la variable "adedpe202006_logtype_ch_gen_lib_princ" => 
# sa multitude de valeurs créé des différence de nombre de colonnes entre X train et X test après get dummies

df_selec["adedpe202006_logtype_ch_gen_lib_princ"].value_counts().to_frame()

                                                 adedpe202006_logtype_ch_gen_lib_princ
generateurs a effet joule                                                        51045
chaudiere gaz standard                                                           31478
reseau de chaleur                                                                 6358
chaudiere gaz basse temperature                                                   3586
chaudiere gaz condensation                                                        2654
chaudiere fioul standard                                                          2392
chaudiere electrique                                                               903
pac air/air                                                                        710
pac indetermine                                                                    448
chaudiere energie indetermine standard                                             260
radiateurs gaz                                                                     222
chaudiere fioul basse temperature                                                  209
chaudiere energie indetermine indetermine                                          195
chauffage autre indetermine                                                         73
pac air/eau                                                                         69
chaudiere energie indetermine basse temperature                                     45
chaudiere fioul condensation                                                        32
chaudiere bois                                                                      29
chaudiere energie indetermine condensation                                          23
pac eau/eau                                                                         16
pac geothermique                                                                     6
poele ou insert bois                                                                 4
chaudiere gpl/butane/propane standard                                                4
poele ou insert charbon                                                              3
chaudiere charbon standard                                                           2
poele ou insert indetermine                                                          1
chauffage solaire                                                                    1

In [50]:
# Regroupement des occurences faiblement représentées :
liste_equipement =["pac eau/eau",
                   "pac geothermique",
                   "poele ou insert bois", 
                   "chaudiere gpl/butane/propane standard",
                   "poele ou insert charbon",
                   "chaudiere charbon standard",
                   "poele ou insert indetermine",
                   "chauffage solaire",
                   "chaudiere bois", 
                   "chaudiere energie indetermine condensation"]

def filtre_autre_equipement (x) :
    if x in  liste_equipement :
        return "autres"
    else :
        return x
        
df_selec["adedpe202006_logtype_ch_gen_lib_princ"]=df_selec["adedpe202006_logtype_ch_gen_lib_princ"].apply(filtre_autre_equipement)
df_selec["adedpe202006_logtype_ch_gen_lib_princ"].value_counts().to_frame()

                                                 adedpe202006_logtype_ch_gen_lib_princ
generateurs a effet joule                                                        51045
chaudiere gaz standard                                                           31478
reseau de chaleur                                                                 6358
chaudiere gaz basse temperature                                                   3586
chaudiere gaz condensation                                                        2654
chaudiere fioul standard                                                          2392
chaudiere electrique                                                               903
pac air/air                                                                        710
pac indetermine                                                                    448
chaudiere energie indetermine standard                                             260
radiateurs gaz                                                                     222
chaudiere fioul basse temperature                                                  209
chaudiere energie indetermine indetermine                                          195
autres                                                                              89
chauffage autre indetermine                                                         73
pac air/eau                                                                         69
chaudiere energie indetermine basse temperature                                     45
chaudiere fioul condensation                                                        32

**Analyse de la variable "adedpe202006_logtype_ecs_type_ener" : Type d'énergie d'eau chaude sanitaire

In [51]:
df_selec["adedpe202006_logtype_ecs_type_ener"].isna().sum()

5630

In [52]:
# Simplification des valeurs de la variable "adedpe202006_logtype_ecs_type_ener" => 
# sa multitude de valeurs créé des différences de nombre de colonnes entre X train et X test après get dummies.
df_selec["adedpe202006_logtype_ecs_type_ener"].value_counts().to_frame()

                                                    adedpe202006_logtype_ecs_type_ener
electricite                                                                      56108
gaz                                                                              35541
reseau de chaleur                                                                 5616
fioul                                                                             1857
ecs thermodynamique electrique(pac ou ballon)                                      292
bois                                                                               140
ecs thermodynamique electrique(pac ou ballon) +...                                  64
bois + reseau de chaleur                                                            39
electricite + gaz                                                                   15
bois + gaz                                                                          13
ecs thermodynamique electrique(pac ou ballon) +...                                   9
bois + ecs thermodynamique electrique(pac ou ba...                                   5
autre                                                                                4
gpl/butane/propane                                                                   4
charbon + gaz                                                                        2
electricite + reseau de chaleur                                                      1

In [53]:
# Regroupement des occurences faiblement représentées

liste_equipement =["ecs thermodynamique electrique(pac ou ballon) + gaz",
                   "ecs thermodynamique electrique(pac ou ballon) + electricite",
                   "bois + ecs thermodynamique electrique(pac ou ballon) + gaz",
                   "autre",
                   "gpl/butane/propane",
                   "charbon + gaz",
                   "electricite + reseau de chaleur",
                   "bois + reseau de chaleur",
                   "electricite + gaz",
                   "bois + gaz"]

def filtre_autre_equipement (x) :
    if x in  liste_equipement :
        return "autres"
    else :
        return x
        
df_selec["adedpe202006_logtype_ecs_type_ener"]=df_selec["adedpe202006_logtype_ecs_type_ener"].apply(filtre_autre_equipement)
df_selec["adedpe202006_logtype_ecs_type_ener"].value_counts().to_frame()

                                               adedpe202006_logtype_ecs_type_ener
electricite                                                                 56108
gaz                                                                         35541
reseau de chaleur                                                            5616
fioul                                                                        1857
ecs thermodynamique electrique(pac ou ballon)                                 292
autres                                                                        156
bois                                                                          140

**Analyse de la variable "arcthd2021t1_l_bat_type" => (arcep) Type de construction du bâtiment

In [54]:
df_selec["arcthd2021t1_l_bat_type"].value_counts()

{immeuble}                                                                                                                                                                                        74623
{immeuble,immeuble}                                                                                                                                                                                3621
{immeuble,pavillon}                                                                                                                                                                                1764
{immeuble,immeuble,immeuble}                                                                                                                                                                        765
{pavillon}                                                                                                                                                                                          679
{pavillon,immeuble}                                                                                                                                                                                 197
{immeuble,pavillon,immeuble}                                                                                                                                                                        106
{immeuble,immeuble,pavillon}                                                                                                                                                                        106
{immeuble,pavillon,immeuble,immeuble,immeuble}                                                                                                                                                       78
{immeuble,immeuble,immeuble,immeuble,immeuble}                                                                                                                                                       75
{immeuble,immeuble,immeuble,immeuble}                                                                                                                                                                63
{immeuble,immeuble,immeuble,immeuble,immeuble,pavillon,immeuble,immeuble}                                                                                                                            61
{immeuble,immeuble,immeuble,immeuble,immeuble,immeuble}                                                                                                                                              41
{immeuble,immeuble,immeuble,pavillon}                                                                                                                                                                40
{immeuble,immeuble,immeuble,immeuble,immeuble,immeuble,immeuble}                                                                                                                                     40
{immeuble,immeuble,immeuble,immeuble,pavillon}                                                                                                                                                       39
{immeuble,immeuble,pavillon,immeuble}                                                                                                                                                                38
{immeuble,immeuble,immeuble,pavillon,immeuble,immeuble,immeuble}                                                                                                                                     37
{pavillon,pavillon,immeuble,pavillon}                                                                                                                                                                29
{pavillon,immeuble,pavillon,pavillon}                                                                                                                                                                27
{immeuble,immeuble,immeuble,immeuble,immeuble,pavillon}                                                                                                                                              26
{immeuble,immeuble,immeuble,immeuble,pavillon,pavillon}                                                                                                                                              16
{immeuble,pavillon,immeuble,immeuble}                                                                                                                                                                14
{pavillon,immeuble,pavillon}                                                                                                                                                                         12
{pavillon,immeuble,pavillon,immeuble,immeuble,immeuble}                                                                                                                                              11
{immeuble,immeuble,immeuble,immeuble,immeuble,immeuble,immeuble,immeuble}                                                                                                                            10
{immeuble,immeuble,pavillon,immeuble,immeuble}                                                                                                                                                        9
{immeuble,immeuble,immeuble,immeuble,immeuble,immeuble,immeuble,immeuble,immeuble,immeuble,immeuble,pavillon,immeuble,pavillon,immeuble,immeuble,immeuble,pavillon,immeuble,immeuble}                 9
{immeuble,immeuble,immeuble,pavillon,pavillon}                                                                                                                                                        8
{pavillon,pavillon}                                                                                                                                                                                   8
{immeuble,immeuble,immeuble,immeuble,immeuble,immeuble,immeuble,immeuble,immeuble,immeuble,immeuble}                                                                                                  6
{pavillon,immeuble,immeuble}                                                                                                                                                                          6
{immeuble,pavillon,immeuble,immeuble,immeuble,pavillon}                                                                                                                                               6
{immeuble,immeuble,pavillon,immeuble,immeuble,pavillon,immeuble,immeuble,immeuble,immeuble,immeuble,pavillon,immeuble,pavillon,immeuble,immeuble,immeuble,immeuble,immeuble,pavillon,immeuble}        5
{immeuble,pavillon,pavillon,immeuble}                                                                                                                                                                 4
{immeuble,immeuble,immeuble,pavillon,immeuble}                                                                                                                                                        4
{immeuble,pavillon,pavillon,immeuble,immeuble}                                                                                                                                                        4
{pavillon,immeuble,pavillon,immeuble}                                                                                                                                                                 2
{immeuble,pavillon,immeuble,pavillon}                                                                                                                                                                 2
{immeuble,pavillon,pavillon}                                                                                                                                                                          2
{immeuble,immeuble,immeuble,pavillon,immeuble,immeuble}                                                                                                                                               2
{immeuble,immeuble,immeuble,immeuble,immeuble,pavillon,immeuble,immeuble,pavillon,immeuble}                                                                                                           1
{immeuble,immeuble,immeuble,immeuble,immeuble,immeuble,immeuble,immeuble,immeuble}                                                                                                                    1
{immeuble,immeuble,immeuble,immeuble,pavillon,immeuble}                                                                                                                                               1
Name: arcthd2021t1_l_bat_type, dtype: int64

In [55]:
# On supprime cette variable pq on ne s'intéresse qu'aux bâtiments en copropriété 

df_selec=df_selec.drop("arcthd2021t1_l_bat_type", axis=1)

**Analyse de la variable "geoarg2020_alea" = Niveau de risque argile

In [56]:
df_selec["geoarg2020_alea"].isna().sum()

105340

In [57]:
# La variable "geoarg2020_alea" est composée à 100% de Nan
# Aucun bâtiment en risque argile à Paris : https://assistance.brgm.fr/georisques/pourquoi-ny-til-pas-cartographie-lexposition-au-risque-retrait-gonflement-argiles-ville
# Suppression
df_selec=df_selec.drop("geoarg2020_alea", axis=1)

**Analyse de la variable "adedpe202006_logtype_ch_type_inst" : Type d'installation de chauffage

In [58]:
df_selec["adedpe202006_logtype_ch_type_inst"].value_counts().to_frame()

            adedpe202006_logtype_ch_type_inst
individuel                              67785
collectif                               20667

In [59]:
df_selec["adedpe202006_logtype_ch_type_inst"].isna().sum()

16888

**Analyse de la variable "adedpe202006_logtype_mur_pos_isol_ext" =>(dpe) Type d'isolation des murs

In [60]:
df_selec["adedpe202006_logtype_mur_pos_isol_ext"].value_counts().to_frame()

           adedpe202006_logtype_mur_pos_isol_ext
ITI                                        85628
non isole                                  12218
isole                                        439
ITE                                          361
ITR                                          149
ITI+ITE                                      128
ITI+ITR                                       69
ITE+ITR                                        6

In [61]:
df_selec["adedpe202006_logtype_mur_pos_isol_ext"].isna().sum()

6342

In [62]:
# Remlacement des nan par "Inconnu"
df_selec["adedpe202006_logtype_mur_pos_isol_ext"]=df_selec["adedpe202006_logtype_mur_pos_isol_ext"].fillna("Inconnu")

In [63]:
# Simplification des modalités 
def filtre(x):
    if x=="ITI" :
        return "ITI"
    elif x=="ITE" :
        return "ITE"
    elif x=="ITR" :
        return "ITR"
    elif "Inconnu" in x :
        return "Inconnu"
    else :
        return "Autres"

In [64]:
df_selec["adedpe202006_logtype_mur_pos_isol_ext"]=df_selec["adedpe202006_logtype_mur_pos_isol_ext"].apply(filtre)

In [65]:
df_selec["adedpe202006_logtype_mur_pos_isol_ext"].value_counts().to_frame()

         adedpe202006_logtype_mur_pos_isol_ext
ITI                                      85628
Autres                                   12860
Inconnu                                   6342
ITE                                        361
ITR                                        149

**Analyse de la variable "adedpe202006_logtype_mur_mat_ext" =>(dpe) Matériaux de la structure des murs extérieurs

In [66]:
df_selec["adedpe202006_logtype_mur_mat_ext"].value_counts()

murs en pierre de taille et moellons avec remplissage tout venant     35952
murs en béton banché                                                  16023
murs en briques pleines simples                                       15076
murs en blocs de béton pleins                                          6305
murs en pierre de taille et moellons constitué d'un seul matériaux     5513
murs en pierre                                                         2589
murs en blocs de béton creux                                           2296
murs en pan de bois avec remplissage tout venant                       1484
murs en béton de mâchefer                                              1476
murs en pan de bois sans remplissage tout venant                       1232
murs en briques creuses                                                 720
murs en béton                                                           671
murs en briques                                                         381
cloison de plâtre                                                       314
murs en briques pleines doubles avec lame d'air                         196
béton cellulaire                                                        112
murs en pisé ou béton de terre stabilisé (à partir d'argile crue)        33
monomur terre cuite                                                       9
Name: adedpe202006_logtype_mur_mat_ext, dtype: int64

In [67]:
df_selec["adedpe202006_logtype_mur_mat_ext"].isna().sum()

14958

In [68]:
# On  remplace les Nan par "Inconnu"
df_selec["adedpe202006_logtype_mur_mat_ext"]=df_selec["adedpe202006_logtype_mur_mat_ext"].fillna("Inconnu")

In [69]:
# Regroupement des occurences

def filtre(x) :
    if "pierre" in x :
        return "Mur en pierre"
    elif "briques" in x :
        return "Mur en brique"
    elif "béton" in x :
        return "Mur en béton"
    elif "bois" in x :
        return "Mur en pan de bois"
    elif "plâtre" in x :
        return "Mur en cloison de plâtre"
    else :
        return "Indeterminé"

In [70]:
df_selec["adedpe202006_logtype_mur_mat_ext"]=df_selec["adedpe202006_logtype_mur_mat_ext"].apply(filtre)

In [71]:
df_selec["adedpe202006_logtype_mur_mat_ext"].value_counts().to_frame()

                          adedpe202006_logtype_mur_mat_ext
Mur en pierre                                        44054
Mur en béton                                         26916
Mur en brique                                        16373
Indeterminé                                          14967
Mur en pan de bois                                    2716
Mur en cloison de plâtre                               314

In [72]:
# Regardons le nombre de modalités des variables de type "object" pour préparer la dichotomisation :
object_columns=df_selec.select_dtypes(include='object').columns.tolist()
object_columns

['etaban_lot',
 'datemut',
 'etaban202111_label',
 'mcumer202007_id',
 'adedpe202006_logtype_baie_type_vitrage',
 'adedpe202006_logtype_ch_gen_lib_princ',
 'adedpe202006_mean_class_conso_ener',
 'adedpe202006_mean_class_estim_ges',
 'adedpe202006_logtype_traversant',
 'adedpe202006_logtype_ecs_type_ener',
 'adedpe202006_logtype_ph_pos_isol',
 'adedpe202006_logtype_type_batiment',
 'cerffo2020_usage_niveau_1_txt',
 'georad2020_alea',
 'insbpe2019_l_type_equipement',
 'adedpe202006_logtype_ch_type_inst',
 'adedpe202006_logtype_ecs_type_inst',
 'adedpe202006_logtype_mur_ep_mat_ext',
 'adedpe202006_logtype_mur_mat_ext',
 'adedpe202006_logtype_mur_pos_isol_ext']

In [73]:

for col in df_selec[object_columns]:
    print(df_selec[col].nunique(), col)

95279 etaban_lot
2334 datemut
27152 etaban202111_label
1731 mcumer202007_id
5 adedpe202006_logtype_baie_type_vitrage
18 adedpe202006_logtype_ch_gen_lib_princ
8 adedpe202006_mean_class_conso_ener
8 adedpe202006_mean_class_estim_ges
9 adedpe202006_logtype_traversant
7 adedpe202006_logtype_ecs_type_ener
5 adedpe202006_logtype_ph_pos_isol
5 adedpe202006_logtype_type_batiment
4 cerffo2020_usage_niveau_1_txt
1 georad2020_alea
4914 insbpe2019_l_type_equipement
2 adedpe202006_logtype_ch_type_inst
2 adedpe202006_logtype_ecs_type_inst
33 adedpe202006_logtype_mur_ep_mat_ext
6 adedpe202006_logtype_mur_mat_ext
5 adedpe202006_logtype_mur_pos_isol_ext

**Analyse de la variable "etaban202111_label"= Adresse postale principale du bâtiment

In [74]:
df_selec["etaban202111_label"]

0         19 Rue Jean-Jacques Rousseau 75001 Paris
2                    103 Rue Lemercier 75017 Paris
3                          8 Rue Dalou 75015 Paris
4              110 Boulevard de Clichy 75018 Paris
5              110 Boulevard de Clichy 75018 Paris
                            ...
114066                  17 Rue Fondary 75015 Paris
114067    37 Rue Jean-Baptiste Pigalle 75009 Paris
114068              9 Rue Joseph Dijon 75018 Paris
114069             7 Rue Chateaubriand 75008 Paris
114070             177 Boulevard Murat 75016 Paris
Name: etaban202111_label, Length: 105340, dtype: object

In [75]:
#Suppression de la colonne etaban202111_label" => inutile pour la suite

df_selec=df_selec.drop("etaban202111_label", axis=1)

**Analyse de la variable "mcumer202007_id"= Identifiant unique MERIMEE (=classé)

In [76]:
df_selec["mcumer202007_id"]

0         PA00085855
2         PA75170004
3         PA00086657
4         PA00088936
5         PA00088936
             ...
114066    PA75150002
114067    PA00088920
114068    PA00086756
114069    PA00088889
114070    PA00086698
Name: mcumer202007_id, Length: 105340, dtype: object

In [77]:
df_selec["mcumer202007_id"].nunique()

1731

In [78]:
df_selec["mcumer202007_id"].isna().sum()

5571

In [79]:
df_selec["mcumer202007_id"].describe()

count          99769
unique          1731
top       PA00132991
freq            1211
Name: mcumer202007_id, dtype: object

In [80]:
# 99769 des mutations ont un identifiant mcumer202007_id. Le reste ce sont des nan. 
# Si cet identifiant veut dire que le bâtiment est dans un périmètre ABF monument historique, autant prendre la variable mcumer202007_is_mer. 
# Si cet identifiant veut dire que le bâtiment est classé monument historique => alors pas nécessaire de le garder pq ils le sont tous dans la mesure où ils ont tous un identifiant

In [81]:
# Décision prise de supprimer les variables "mcumer202007_id" et "mcumer202007_dist500min" pour ne garder que "mcumer202007_is_mer"

df_selec=df_selec.drop(["mcumer202007_id","mcumer202007_dist500min"], axis=1)

**Analyse de la variable "insbpe2019_l_type_equipement" = Type d''équipement public

In [82]:
df_selec["insbpe2019_l_type_equipement"].nunique()

4914

In [83]:
df_selec["insbpe2019_l_type_equipement"]=df_selec["insbpe2019_l_type_equipement"].astype(str)
df_selec["insbpe2019_l_type_equipement"]=df_selec["insbpe2019_l_type_equipement"].apply(lambda x : x.strip("()"))
df_selec["insbpe2019_l_type_equipement"]

0         7:Agence immobilière,Magasin d'équipements du ...
2                                                       nan
3                                                       nan
4                        1:Restaurant - Restauration rapide
5                        1:Restaurant - Restauration rapide
                                ...
114066                                                  nan
114067                                                  nan
114068    4:Coiffure,Institut de beauté - Onglerie,Taxi ...
114069    2:Agence immobilière,Spécialiste en dermatolog...
114070                                                  nan
Name: insbpe2019_l_type_equipement, Length: 105340, dtype: object

In [84]:
# On ne va conserver que les occurences qui à priori occasionnent le plus de nuisances sonores pour les riverains 
# et qui par conséquent sont suceptibles de déclencher une revente

def filtre_supermarché (x):
    if "Supermarché" in x or "Épicerie" in x or "Supérette" in x or "Hypermarché" in x :
        return 1
    else :
        return 0

In [85]:
df_selec["insbpe2019_l_type_equipement_supermarché"]=df_selec["insbpe2019_l_type_equipement"].apply(filtre_supermarché)

In [86]:
df_selec["insbpe2019_l_type_equipement_supermarché"].value_counts()

0    98377
1     6963
Name: insbpe2019_l_type_equipement_supermarché, dtype: int64

In [87]:
df_selec[["insbpe2019_l_type_equipement", "insbpe2019_l_type_equipement_supermarché"]]

,insbpe2019_l_type_equipement,insbpe2019_l_type_equipement_supermarché
0,"7:Agence immobilière,Magasin d'équipements du ...",0
2,nan,0
3,nan,0
4,1:Restaurant - Restauration rapide,0
5,1:Restaurant - Restauration rapide,0
...,...,...
114066,nan,0
114067,nan,0
114068,"4:Coiffure,Institut de beauté - Onglerie,Taxi ...",1
114069,"2:Agence immobilière,Spécialiste en dermatolog...",0
114070,nan,0

In [88]:
df_selec.iloc[1]["insbpe2019_l_type_equipement"]

'nan'

In [89]:
def filtre_restaurant (x):
    if "Restaurant - Restauration rapide" in x or ":Restaurant - Restauration rapide" in x or "Restaurant universitaire" in x :
        return 1
    else :
        return 0

In [90]:
df_selec["insbpe2019_l_type_equipement_restaurant"]=df_selec["insbpe2019_l_type_equipement"].apply(filtre_restaurant)

In [91]:
df_selec["insbpe2019_l_type_equipement_restaurant"].value_counts()

0    80524
1    24816
Name: insbpe2019_l_type_equipement_restaurant, dtype: int64

In [92]:
def filtre_boulangerie (x):
    if "Boulangerie" in x or ":Boulangerie" in x :
        return 1
    else :
        return 0

In [93]:
df_selec["insbpe2019_l_type_equipement_boulangerie"]=df_selec["insbpe2019_l_type_equipement"].apply(filtre_boulangerie)

In [94]:
df_selec["insbpe2019_l_type_equipement_boulangerie"].value_counts()

0    101613
1      3727
Name: insbpe2019_l_type_equipement_boulangerie, dtype: int64

In [95]:
# Création d'une variable "insbpe2019_l_type_equipement_bruyant"
df_selec["Commerces_bruyants"]=df_selec["insbpe2019_l_type_equipement_supermarché"]+df_selec["insbpe2019_l_type_equipement_boulangerie"]+df_selec["insbpe2019_l_type_equipement_restaurant"]

In [96]:
#On peut maintenant supprimer la colonne df_selec["insbpe2019_l_type_equipement"] 
# et les colonnes qui ont servi à créer la variable "commerces_bruyants"
to_drop=["insbpe2019_l_type_equipement", 
         "insbpe2019_l_type_equipement_supermarché",
                   "insbpe2019_l_type_equipement_restaurant",
                   "insbpe2019_l_type_equipement_boulangerie"]

df_selec=df_selec.drop(to_drop, axis=1)

In [97]:
object_columns=df_selec.select_dtypes(include='object').columns.tolist()
object_columns

['etaban_lot',
 'datemut',
 'adedpe202006_logtype_baie_type_vitrage',
 'adedpe202006_logtype_ch_gen_lib_princ',
 'adedpe202006_mean_class_conso_ener',
 'adedpe202006_mean_class_estim_ges',
 'adedpe202006_logtype_traversant',
 'adedpe202006_logtype_ecs_type_ener',
 'adedpe202006_logtype_ph_pos_isol',
 'adedpe202006_logtype_type_batiment',
 'cerffo2020_usage_niveau_1_txt',
 'georad2020_alea',
 'adedpe202006_logtype_ch_type_inst',
 'adedpe202006_logtype_ecs_type_inst',
 'adedpe202006_logtype_mur_ep_mat_ext',
 'adedpe202006_logtype_mur_mat_ext',
 'adedpe202006_logtype_mur_pos_isol_ext']

In [98]:
for col in df_selec[object_columns]:
    print(df_selec[col].nunique(), col)

95279 etaban_lot
2334 datemut
5 adedpe202006_logtype_baie_type_vitrage
18 adedpe202006_logtype_ch_gen_lib_princ
8 adedpe202006_mean_class_conso_ener
8 adedpe202006_mean_class_estim_ges
9 adedpe202006_logtype_traversant
7 adedpe202006_logtype_ecs_type_ener
5 adedpe202006_logtype_ph_pos_isol
5 adedpe202006_logtype_type_batiment
4 cerffo2020_usage_niveau_1_txt
1 georad2020_alea
2 adedpe202006_logtype_ch_type_inst
2 adedpe202006_logtype_ecs_type_inst
33 adedpe202006_logtype_mur_ep_mat_ext
6 adedpe202006_logtype_mur_mat_ext
5 adedpe202006_logtype_mur_pos_isol_ext

In [99]:
df_selec.head()

,idmutation,etaban_lot,qty_of_mut,Revente,datemut,anneemut,moismut,Immeuble_neuf,valeurfonc,nblot,...,georad2020_alea,igntop202103_bat_hauteur,mcumer202007_is_mer,adedpe202006_logtype_s_hab,adedpe202006_logtype_ch_type_inst,adedpe202006_logtype_ecs_type_inst,adedpe202006_logtype_mur_ep_mat_ext,adedpe202006_logtype_mur_mat_ext,adedpe202006_logtype_mur_pos_isol_ext,Commerces_bruyants
0,7819809,75101_4901_00019_93,0,0,2021-06-04,2021,6,0,370000.0,1,...,Faible,20.2,1.0,75.0,individuel,individuel,NaN,Mur en brique,ITI,1
2,7819821,75117_5503_00103_24,0,0,2021-03-18,2021,3,0,451000.0,1,...,Faible,18.8,1.0,36.0,individuel,individuel,NaN,Mur en pierre,ITI,0
3,7819822,75115_2521_00008_19,0,0,2021-11-12,2021,11,0,433000.0,3,...,Faible,18.0,1.0,49.0,individuel,individuel,NaN,Mur en pierre,ITI,0
4,7819824,75118_2113_00110_19,1,1,2021-01-08,2021,1,0,561076.0,1,...,Faible,18.9,1.0,100.0,individuel,individuel,NaN,Mur en pierre,ITI,1
5,8563148,75118_2113_00110_19,1,1,2016-09-09,2016,9,0,375980.0,1,...,Faible,18.9,1.0,100.0,individuel,individuel,NaN,Mur en pierre,ITI,1

In [100]:
df_selec.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105340 entries, 0 to 114070
Data columns (total 51 columns):
 #   Column                                       Non-Null Count   Dtype
---  ------                                       --------------   -----
 0   idmutation                                   105340 non-null  int64
 1   etaban_lot                                   105340 non-null  object
 2   qty_of_mut                                   105340 non-null  int64
 3   Revente                                      105340 non-null  int64
 4   datemut                                      105340 non-null  object
 5   anneemut                                     105340 non-null  int64
 6   moismut                                      105340 non-null  int64
 7   Immeuble_neuf                                105340 non-null  int64
 8   valeurfonc                                   105304 non-null  float64
 9   nblot                                        105340 non-null  int64
 10  nbcomm                                       105340 non-null  int64
 11  l_codinsee                                   105340 non-null  int64
 12  nblocapt                                     105340 non-null  int64
 13  nblocdep                                     105340 non-null  int64
 14  nbapt2pp                                     105340 non-null  int64
 15  nbapt3pp                                     105340 non-null  int64
 16  sbati                                        105340 non-null  int64
 17  sbatapt                                      105340 non-null  int64
 18  sbatact                                      105340 non-null  int64
 19  sapt2pp                                      105340 non-null  int64
 20  sapt3pp                                      105340 non-null  int64
 21  scarrez                                      105340 non-null  float64
 22  anarnc202012_nb_log                          105340 non-null  float64
 23  anarnc202012_nb_lot_garpark                  105340 non-null  float64
 24  anarnc202012_nb_lot_tertiaire                105340 non-null  float64
 25  anarnc202012_nb_lot_tot                      105340 non-null  float64
 26  adedpe202006_logtype_baie_type_vitrage       100411 non-null  object
 27  adedpe202006_logtype_ch_gen_lib_princ        100768 non-null  object
 28  adedpe202006_mean_class_conso_ener           101524 non-null  object
 29  adedpe202006_mean_class_estim_ges            101524 non-null  object
 30  adedpe202006_logtype_traversant              88106 non-null   object
 31  adedpe202006_logtype_ecs_type_ener           99710 non-null   object
 32  adedpe202006_logtype_perc_surf_vitree_ext    16973 non-null   float64
 33  adedpe202006_logtype_ph_pos_isol             76625 non-null   object
 34  adedpe202006_logtype_presence_balcon         18477 non-null   float64
 35  adedpe202006_logtype_presence_climatisation  101504 non-null  float64
 36  adedpe202006_logtype_type_batiment           101504 non-null  object
 37  ancqpv201410_is_qpv                          105129 non-null  float64
 38  cerffo2020_annee_construction                95852 non-null   category
 39  cerffo2020_usage_niveau_1_txt                105340 non-null  object
 40  cerffo2020_nb_log                            105340 non-null  int64
 41  georad2020_alea                              105129 non-null  object
 42  igntop202103_bat_hauteur                     105116 non-null  float64
 43  mcumer202007_is_mer                          105129 non-null  float64
 44  adedpe202006_logtype_s_hab                   101346 non-null  float64
 45  adedpe202006_logtype_ch_type_inst            88452 non-null   object
 46  adedpe202006_logtype_ecs_type_inst           89494 non-null   object
 47  adedpe202006_logtype_mur_ep_mat_ext          18044 non-null   object
 48  adedpe202006_logtype_mur_mat_ext             105340 non-null  object
 49  adedpe202006_logtype_mur_pos_isol_ext        105340 non-null  object
 50  Commerces_bruyants                           105340 non-null  int64
dtypes: category(1), float64(13), int64(20), object(17)
memory usage: 41.1+ MB

In [101]:
df_selec_2=df_selec

In [102]:
df_selec_2.to_csv(r"C:\Users\Anne\Projet Bâtiment\210622\df_selec_2.csv", index=False)